<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>SLOW MOTION</title>
</head>
<body class="index">
    <header>
        <div class="logo">
            <a class="logA" href="">
                <img src="/img/Blanco.svg" alt="">
                <p>SLOW MOTION</p>
            </a>
        </div>
        <div class="nav">
            <a href="">Peliculas</a>
            <a href="">Series</a>
            <a href="">Favoritos</a>
            <input class="in" type="text" placeholder="Buscar...">
        </div>
        <div class="optFoot">
            <div class="cart">
                <a href="../views/productCart.html">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <div class="RegAndLog">
                <a href="">Ingresar</a>
                <a href="">Registrarse</a>
            </div>
            <nav class="menu">
                <i class="fas fa-align-justify"></i>
            </nav>
        </div>
    </header>
    <section class="options">
        <a href="../"></a>
        <i></i>
        <i></i>
    </section>
    <section class="carousel">
            <img src="./img/Peliculas/EndGame1280x720.jpg" alt="">
    </section>
    <section class="products">
        <div class="film">
            <a href="">Peliculas</a>
            <div>
            
            </div>
        </div>
        <div class="Series">
        </div>
    </section>
    <footer>
        <p>ghksadgk</p>
    </footer>
    
</body>
</html>

http://www.star-clicks.com/?ref=51904590
<a href="https://zetix.org/?ref=Guille.Montaa"><img src="https://zetix.org/banners/125x125eng.gif" alt="" /></a>