<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Slow Motion</title>
</head>
<body>
    <header>
        <div class="logo">
            <a class="logA" href="index.html">
                <img src="/img/Blanco.svg" alt="">
                <p>SLOW MOTION</p>
            </a>
        </div>
        <div class="nav">
            <a href="">Peliculas</a>
            <a href="">Series</a>
            <a href="">Favoritos</a>
            <input class="in" type="text" placeholder="Buscar...">
        </div>
        <div class="optFoot">
            <div class="cart">
                <a href="productCart.html">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <div class="RegAndLog">
                <a href="">Ingresar</a>
                <a href="">Registrarse</a>
            </div>
            <nav class="menu">
                <i class="fas fa-align-justify"></i>
            </nav>
        </div>
    </header>
</body>
</html>