<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Cart</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/style-product-car.css">
    <script src="https://kit.fontawesome.com/9e18ac83e0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="div-header">
        <header class="header-contain">
            <ul class="ul-header">
                <li class="header__li"><a href="index.html"><img src="/public/img/Blanco.svg" alt=""></a></li>
                <span class="header__li">SLOW<br>MOTION</span>
                <li class="header__li"><i class="fas fa-shopping-cart"></i></li>
                <li class="header__li"><i class="fas fa-bars"></i></li>
            </ul>
        </header>
        <nav>

        </nav>
    </div>
    <footer>

    </footer>

</body>
</html>