<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="contain-body">
    <div class="conteinHeader">
        <header>
            <div class="logo">
                <a class="logA" href="index.html">
                    <img src="/img/Blanco.svg" alt="">
                    <p>SLOW MOTION</p>
                </a>
            </div>
            <div class="nav">
                <a href="">Peliculas</a>
                <a href="">Series</a>
                <a href="">Favoritos</a>
                <input class="in" type="text" placeholder="Buscar...">
            </div>
            <div class="optFoot">
                <div class="cart">
                    <a href="productCart.html">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
                <div class="RegAndLog">
                    <a href="">Ingresar</a>
                    <a href="">Registrarse</a>
                </div>
                <nav class="menu">
                    <i class="fas fa-align-justify"></i>
                </nav>
            </div>
        </header>
    </div>
    <main class="contenido">
        <div class="contenedor-padre">

            <div class="image-container">
            <img src="img/peliculas/Cruella.jpg" alt="">
            <div class="corazon">
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
        </div>
    </div>

        <div class="contenedor-box2">

            <img src="img/peliculas/cruela480x282.jpg">
            <div class="play">
            <i class="fas fa-play"></i>
            </div>

        </div>
        <div class="opcionesPelicula">
            <p>Idioma</p>
            <p class="espacios">|</p>
            <p>Subtítulos</p>
            <p class="espacios">|</p>
            <p>Calidad</p>
        </div>
        <div class="contenedor-estadisticas">
            <div>
                <div class="estrella">
                <h5>4.3 </h5>
                <i class="fas fa-star"></i>
            </div>
                <p>Calificación</p>
            </div>
            <p class="espacios">|</p>
            <div class="estadisticas">
                <h5>PG-18</h5>
                <p>Clasificación</p>
            </div>
            <p class="espacios">|</p>
            <div class="estadisticas">
                <h5>3Hs25m</h5>
                <p>Duración</p>

            </div>
        </div>
        <div class="resumen-movie">
            <p>En el misterioso pueblo de Derry, un malvado payaso
                llamado Pennywise vuelve 27 años después para atormentar a los ya adultos miembros del Club de los
                Perdedores, que ahora están más alejados unos de otros.</p>

        </div>
        <div class="container-director">
            <h5>Director:James Cameron</h5>
            <h5>Año: 2021</h5>
            <h5>Género:Familiar</h5>
        </div>
        <div class="botones">
            <button>COMPRAR</button>
            <button>ALQUILAR</button>

        </div>

    </main>


</body>

</html>