<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/img/Blanco.svg" alt="">
            <a href=""></a>
            <p>SLOW <br> MOTION</p>
        </div>
        <div class="optFoot">
            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
                <a href="../views/productCart.html"></a>
            <a class="logA" href="index.html">
                <img src="/img/Blanco.svg" alt="">
                <p>SLOW MOTION</p>
            </a>
        </div>
        <div class="nav">
            <a href="">Peliculas</a>
            <a href="">Series</a>
            <a href="">Favoritos</a>
            <input class="in" type="text" placeholder="Buscar...">
        </div>
        <div class="optFoot">
            <div class="cart">
                <a href="productCart.html">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <div class="RegAndLog">
                <a href="">Ingresar</a>
                <a href="">Registrarse</a>
            </div>
            <nav class="menu">
                <i class="fas fa-align-justify"></i>
            </nav>
        </div>

    </header>
    
    <h1>IT, CAPÍTULO DOS </h1>

    <p>En el misterioso pueblo de Derry, un malvado payaso llamado Pennywise vuelve 27 años después para atormentar a
        los ya adultos miembros del Club de los Perdedores, que ahora están más alejados unos de otros.</p>
    <img src="peliculas/It 310x420.jpg"


</body>

</html>