<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
body class="index">
<div class="conteinHeader">
    <header>
        <div class="logo">
            <a class="logA" href="index.html">
                <img src="/img/Blanco.svg" alt="">
                <p>SLOW MOTION</p>
            </a>
        </div>
        <div class="nav">
            <a href="">Peliculas</a>
            <a href="">Series</a>
            <a href="">Favoritos</a>
            <input class="in" type="text" placeholder="Buscar...">
        </div>
        <div class="optFoot">
            <div class="cart">
                <a href="productCart.html">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <div class="RegAndLog">
                <a href="">Ingresar</a>
                <a href="">Registrarse</a>
            </div>
            <nav class="menu">
                <i class="fas fa-align-justify"></i>
            </nav>
        </div>
    </header>
</div>
<main>

<h2>It, Capítulo 2</h2>

<div class="contenedor-padre">
    <div class="box-1">
        <img src="img/peliculas/it2.jpg"" alt="">
    </div>
<div class=" box-2">
        <div class="contenido">
            <div class="container">
                <img src="img/Peliculas/itMenor.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="seleccion">
<div>Idioma</div>
<div>Subtítulos</div>
<div>Calidad</div>
</div>

<p>En el misterioso pueblo de Derry, un malvado payaso llamado Pennywise vuelve 27 años después
    para atormentar
    a
    los ya adultos miembros del Club de los Perdedores, que ahora están más alejados unos de otros.</p>



<div class="caracteristicas">
    <p> Opiniones</p>
    <p>Calificación</p>
    <p>Duración</p>
</div>

</main>

</body>

</html>