.body-admin {
    width: 100vw;
    background: linear-gradient(45deg, #000000, #2940D3);
    overflow-x: hidden;
}

.contain-header {
    width: 10vw;
    height: 100vh;
    font-size: 28px;
    color: #fff;
    position: fixed;
}

.menu-header {
    display: none;
}

.database-desktop {
    display: none;
}

.products-desktop {
    display: none;
}

.header-mobile {
    width: 10vw;
    height: 100vh;
}

.nav-header {
    width: 10vw;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    position: relative;
    background: var(--black);
}

.nav-header .checkbtn {
    display: block;
    width: 100%;
    height: 100vh;
    padding: 269px 9px;
    background: var(--black);
    z-index: 200;
}

.checkbtn .fa-bars {
    display: none;
}

.flex-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--black);
    left: -100px;
    transition: all 1s;
    font-family: var(--averia);
}

.flex-list .li__flex-items {
    display: inline-block;
    width: 96vw;
    margin: 15px 0 21px 26px;
    padding: 20px 0;
}

.flex-list .li__flex-items .ref-decoration {
    border-bottom: 1px solid var(--blue);
    color: var(--yellow);
    padding: 10px 0;
    text-decoration: none;
}

.ref-decoration:hover {
    background: #fff;
    color: var(--black) !important;
}

.flex-list .li__flex-items a i {
    padding: 0 10px;
    font-size: 30px;
}

.flex-list .li__flex-items a span {
    font-size: 25px;
}

#check {
    display: none;    
}

#check:checked ~ .flex-list {
    left: 320px;
}

.img {
    display: flex;
    width: 100%;
    height: 20vh;
    flex-flow: column nowrap;
    align-items: center;
}

.img img {
    display: inline-block;
    width: 65%;
    height: 65%;
    margin: auto 0 auto 32px;
    filter: drop-shadow(2px 4px 6px black);
    z-index: -1;
}

.img span {
    color: var(--yellow);
    margin: auto 0 auto 32px;
    font-family: var(--averia);
}

.database { 
    height: 100vh;   
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
}

.database .products {
    width: 75vw;
    height: 20vh;
    border: none;
    background: transparent;
    padding: 5px 0;
    margin-top: 12vh;   /* Agregado */
}

.database .products .section__database {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #000, #232323);
    border-radius: 20px;
}

.database .products .section__database:hover {
    background: #fff;
}

.section__database .button-options {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    padding: 33px; 
}

.section__database a {
    display: inline-block;
    color: var(--yellow);
    padding: 0 7px;
    margin: 0 7px;
}

.section__database a:hover {
    color: #000;
}

.section__database .button-options i {
    font-size: 40px;
    padding: 0 7px;
}

.button-options span {
    display: none;
}

.block-footer {
    display: block;
    background: transparent;
    box-shadow: none;
}

.flex-copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 39px 0 0 15px;
}

.flex-copyright p {
    display: inline-block;
    font-size: 16px;
    color: var(--yellow);
    margin: 9px 7px;
    font-family: var(--averia);
}

.flex-copyright img {
    width: 30px;
    z-index: -1;
    filter: drop-shadow(2px 4px 6px #000);
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .contain-header {
        width: 100vw;
        height: 10vh;
        display: block;
        background: var(--black);
    }

    .menu-header {
        display: none;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        width: 100vw;
        height: 10vh;
    }

    .nav-header {
        width: 100vw;
        height: 100%;
        padding: 10px 0;
        margin: 0 0 10px 0;
        flex-direction: row-reverse;
    }

    .nav-header .checkbtn {
        display: inline-block;
        font-size: 30px;
        padding: 2px;
        margin: 2px 13px 2px 0;
        width: 5%;
        height: 57%;
    }

    .checkbtn .fa-angle-right {
        display: none;
    }

    .checkbtn .fa-bars {
        display: inline-block;
    }

    .flex-list {
        top: -1000px;
        left: 43px;
        margin-top: 12px;
        z-index: -1;
        justify-content: space-evenly;
    }

    #check:checked ~ .flex-list {
        top: 0;
        left: 43px;
    }

    .flex-list .li__flex-items {
        width: 100vw;
        display: block;
        margin: 0 20px;
    }

    .img {
        margin: 55px 0 0;
    }

    .section__database .button-options {
        padding: 28px;
    }

    .section__database .button-options i {
        font-size: 3em;
    }

}
@media only screen and (min-width: 1024px) /* and (max-width: 1440px) */ {
    
    .contain-header {
        width: 100%;
        height: 12vh;
        background: none;
    }

    .header-mobile {
        width: 0;
        height: 0;
        display: none;
    }

    .header-desktop {
        width: 100%;
        height: 12vh;
        display: flex;
        flex-wrap: nowrap;
        background: var(--black);
        border-end-end-radius: 25px;
        border-bottom-left-radius: 25px;
        align-content: center;
        justify-content: space-between;
    }

    .header-desktop .img-logo {
        width: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        margin: 0 0 0 50px;
    }

    .header-desktop .img-logo a img {
        display: inline-block;
        width: 85px;
        padding: 0 5px;
    }

    .header-desktop .img-logo .title__logo-span {
        width: 93px;
        height: 25px;
        display: inline-block;
        font-size: 25px;
        padding: 0 10px;
    }

    .header-desktop .special-input {
        padding: 10px;
        width: 350px;
        height: 56px;
        margin: auto 0;
    }

    .header-desktop .special-input input {
        margin: 5px 38px;
        width: 80%;
        border: none;
        height: 80%;
        border-radius: 25px;
        font-size: 20px;
        padding: 0 5px;
        font-family: var(--averia);
    }

    .header-desktop .icons-options {
        width: 100px;
        margin: 0 85px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-desktop .icons-options .items__flex-icons {
        padding: 0 7px;
    }

    .header-desktop .icons-options .items__flex-icons a i {
        color: var(--yellow);
    }

    .header-desktop .nav-header-desktop .menu-header {
        display: none;
    }

    .img {
        margin: 4em 0;
    }

    .database {
        width: 100vw;
        height: 66vh;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 30vh; /* Agregado */
    }

    .body-admin .database .products {
        width: 50%;
        height: 50%;
        padding: 10px;
        margin-top: 12vh;  /* Agregado */
    }

}