.moviesInformation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0 1% 0 11%;
}

.moviesInformation .flex-information {
    width: 100%;
    padding: 1.3% 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: linear-gradient(-45deg, #fff, #232323);
}

.moviesInformation .flex-information .title-id {
    flex-grow: .7;
}

.moviesInformation .flex-information .title-id .id-product {
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.moviesInformation .flex-information .title-name {
    flex-grow: 2;
}

.moviesInformation .flex-information .title-name .name-product {
    text-align: center;
    padding: 2% 0;
    font-family: var(--averia);
}

.moviesInformation .flex-information .title-option {
    flex-grow: .2;
}

.moviesInformation .flex-information .title-option .option-product {
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.moviesInformation .capsule-table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.moviesInformation .capsule-table .table-movie {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
    background: linear-gradient(45deg, #232323, #d8c371);
    align-items: center;
}

.moviesInformation .capsule-table .table-movie .title-id {
    width: 0;
    flex-grow: .7;
    margin: auto;
}

.moviesInformation .capsule-table .table-movie .title-id p {
    width: 2em;
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.moviesInformation .capsule-table .table-movie .title-name {
    flex-grow: 2;
}

.moviesInformation .capsule-table .table-movie .title-name p {
    width: auto;
    text-align: center;
    padding: 2% 0;
    font-family: var(--averia);
}

.moviesInformation .capsule-table .table-movie .title-option {
    flex-grow: .2;
}

.moviesInformation .capsule-table .table-movie .option-product a i {
    color: var(--black);
    padding: 5px;
}

.moviesInformation .capsule-table .table-movie .element-delete form .delete-movie {
    background: transparent;
    border: none;
}

.moviesInformation .capsule-table .table-movie .element-delete form .delete-movie i {
    color: var(--black);
    background: transparent;
    padding: 5px;
}

.add-product {
    width: 10em;
    margin: 2em 5em 4em;
}

.add-product .button-product {
    width: 80%;
    height: 2em;
    margin: 0 10% 0 20%;
    padding: 0 5%;
}

.add-product .button-product a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(45deg, #39A9CB, #d8c371);
    border-radius: 2em;
    border: 1px solid var(--black);
    box-shadow: 1px 1px 8px 0 var(--black);
}

.add-product .button-product a i {
    border: none;
    color: var(--lightblack);
}

.add-product .button-product a p {
    border: none;
    color: var(--lightblack);
    font-family: var(--staatliches);
}

@media only screen and (min-width:768px) and (max-width:1024px){

    .moviesInformation {
        padding: 1em;
    }

    .moviesInformation .flex-information {
        align-items: center;
        padding: 0;
    }

    .moviesInformation .capsule-table .table-movie {
        padding: .5em 0;
    }
    
    .moviesInformation .capsule-table .table-movie .title-id {
        /*width: 0;*/
        flex-grow: .5;
        padding: 0 0 0 2em;
    }

    .moviesInformation .capsule-table .table-movie .title-id p {
        width: 10em;
    }

    .moviesInformation .capsule-table .table-movie .title-name p {
        padding: 0 5em;
    }

    .moviesInformation .capsule-table .table-movie .option-product {
        width: 3em;
        padding: 0;
    }

    .moviesInformation .capsule-table .table-movie .element-delete {
        width: 3em;
        padding: 0;
    }

    .add-product {
        width: 14em;
        margin: 5% auto;
    }

    .add-product .button-product {
        height: 3em;
    }

    .add-product .button-product a i {
        font-size: 1.2em;
    }

    .add-product .button-product a p {
        font-size: 1.3em;
    }

}
@media only screen and (min-width:1024px) and (max-width:1440px) {

    .moviesInformation {
        margin: 1em auto 0;
    }

    .moviesInformation .flex-information .title-name {
        padding: 0 3em 0 0;
    }

    .add-product {
        width: 14em;
        margin: 5% auto;
    }

    .add-product .button-product {
        height: 3em;
    }

    .add-product .button-product a i {
        font-size: 1.2em;
    }

    .add-product .button-product a p {
        font-size: 1.3em;
    }

}