.body-admin {
    background: linear-gradient(45deg, #000000, #2940D3);
    overflow-x: hidden;
}

.img {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.img a {
    display: flex;
    width: 100%;
    height: 20vh;
    flex-flow: column nowrap;
    align-items: center;
}

.img a img {
    display: inline-block;
    width: 65%;
    height: 65%;
    margin: auto 0 auto 32px;
    filter: drop-shadow(2px 4px 6px black);
    z-index: -1;
}

.img span {
    color: var(--yellow);
    margin: auto 0 auto 32px;
    font-family: var(--averia);
}

.database { 
    height: 100vh;   
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
}

.database .products {
    width: 75vw;
    height: 20vh;
    border: none;
    background: transparent;
    padding: 5px 0;
}

.database .products .section__database {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #000, #232323);
    border-radius: 20px;
    padding: 33px 0;
    box-shadow: 0 0 8px 0 var(--black);
}

.database .products .section__database:hover {
    background: #fff;
}

.section__database .button-options {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.section__database a {
    display: inline-block;
    color: var(--yellow);
}

.section__database .button-options i {
    font-size: 40px;
}

.button-options span {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .body-admin .img {
        margin: 55px 0 0;
    }

    .products .section__database {
        padding: 25px 0;
    }

    .section__database .button-options i {
        font-size: 3em;
    }

}
@media only screen and (min-width: 1024px) /* and (max-width: 1440px) */ {

    .body-admin .img {
        margin: 4em 0;
    }

    .database {
        width: 100vw;
        height: 66vh;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }

    .body-admin .database .products {
        width: 50%;
        height: 50%;
        padding: 10px;
    }

    .database .products .section__database {
        padding: 57px 0;
    }

}