.moviesInformation {
    width: 85%;
    height: 1.5em;
    margin: 1em 0 0 2.5em;
    background: linear-gradient(-45deg, #fff, #232323);
}

.moviesInformation .flex-information {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.moviesInformation .flex-information .title-id {
    flex-grow: .7;
}

.moviesInformation .flex-information .title-id .id-product {
    text-align: center;
    padding: 5% 1em;
    font-family: var(--averia);
}

.moviesInformation .flex-information .title-name {
    flex-grow: 2;
}

.moviesInformation .flex-information .title-name .name-product {
    text-align: center;
    padding: 2% 0;
    font-family: var(--averia);
}

.moviesInformation .flex-information .title-option {
    flex-grow: .2;
}

.moviesInformation .flex-information .title-option .option-product {
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.moviesInformation .table-movie {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.moviesInformation .table-movie .title-id {
    flex-grow: .7;
}

.moviesInformation .table-movie .title-id p {
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.moviesInformation .table-movie .title-name {
    flex-grow: 2;
}

.moviesInformation .table-movie .title-name p {
    text-align: center;
    padding: 2% 0;
    font-family: var(--averia);
}

.moviesInformation .table-movie .title-option {
    flex-grow: .2;
}

@media only screen and (min-width:768px) and (max-width:1024px){}
@media only screen and (min-width:1024px) and (max-width:1440px) {}