.moviesInformation {
    width: 85%;
    height: 1.5em;
    margin: 1em 0 89.7% 2.5em;
}

.moviesInformation .flex-information {
    width: 100%;
    height: 2em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: linear-gradient(-45deg, #fff, #232323);
}

.moviesInformation .flex-information .title-id {
    flex-grow: .7;
}

.moviesInformation .flex-information .title-id .id-product {
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.moviesInformation .flex-information .title-name {
    flex-grow: 2;
}

.moviesInformation .flex-information .title-name .name-product {
    text-align: center;
    padding: 2% 0;
    font-family: var(--averia);
}

.moviesInformation .flex-information .title-option {
    flex-grow: .2;
}

.moviesInformation .flex-information .title-option .option-product {
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.moviesInformation .table-movie {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background: linear-gradient(45deg, #232323, #d8c371);
}

.moviesInformation .table-movie .title-id {
    width: 0;
    flex-grow: .7;
    margin: auto;
}

.moviesInformation .table-movie .title-id p {
    width: 2em;
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.moviesInformation .table-movie .title-name {
    flex-grow: 2;
}

.moviesInformation .table-movie .title-name p {
    width: auto;
    text-align: center;
    padding: 2% 0;
    font-family: var(--averia);
}

.moviesInformation .table-movie .title-option {
    flex-grow: .2;
}

.moviesInformation .table-movie .option-product a i {
    color: var(--black);
    padding: 5px;
}

.moviesInformation .table-movie .element-delete form .delete-movie {
    background: transparent;
    border: none;
}

.moviesInformation .table-movie .element-delete form .delete-movie i {
    color: var(--black);
    background: transparent;
    padding: 5px;
}

@media only screen and (min-width:768px) and (max-width:1024px){

    .moviesInformation {
        margin: 1em auto 60%;
    }
    
    .moviesInformation .table-movie .title-id {
        width: 0;
        flex-grow: .5;
    }

    .moviesInformation .table-movie .title-id p {
        width: 12em;
    }

    .moviesInformation .table-movie .title-name p {
        padding: 5% 0;
    }

    .moviesInformation .table-movie .option-product a i {
        padding: 15px;
    }

    .moviesInformation .table-movie .element-delete form .delete-movie i {
        padding: 15px;
    }

}
@media only screen and (min-width:1024px) and (max-width:1440px) {

    .moviesInformation {
        margin: 1em auto 40%;
    }
    
    /* .moviesInformation .table-movie .title-name {
        padding: 30px 0;
    }

    .moviesInformation .table-movie .option-product a i {
        padding: 40px;
    }

    .moviesInformation .table-movie .element-delete form .delete-movie i {
        padding: 40px;
    } */
}