.body-admin {
    width: 100vw;
    background: linear-gradient(45deg, #000000, #2940D3);
}

.form__files-desktop {
    display: none;
}

.form__files {
    padding: 12.1em 0;
    margin: 0 0 0 2em;
}

.form__files .error {
        width: 100%;
        height: 100px;
        border: none;
        border-radius: 25px;
        background: var(--lightblack)
}


.form__files .error p {
    color: var(--yellow);
    padding: 37px 14px;
    text-align: center;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .form__files {
        margin: 0 1em;
    }
}

@media only screen and (min-width:1024px) /* and (max-width:1440px) */ { 
    
    .form__files {
        display: none;
    }

    .form__files-desktop {
        display: block;
        width: 100%;
        height: 100%;
        padding: 6em 25%;
    }

    .form__files-desktop .form-caption {
        display: block;
        
    }

    .form__files-desktop .form-caption .upload-files {
        background: linear-gradient(45deg, #000, #232323);
        border-radius: 25px;
        width: 500px;
        display: flex;
        height: 500px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: flex-start;
        box-shadow: 1px 1px 8px 0 var(--black);
    }

    .form__files-desktop .form-caption .upload-files .contain-date{
        width: 400px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        color: var(--yellow);
    }

    .form__files-desktop .form-caption .upload-files .contain-date label {
        color: var(--yellow);
        margin: 0;
        padding: 0;
    }

    .form__files-desktop .form-caption .upload-files .contain-date input {
        padding: 0 10px;
    }

}