.body-admin-series {
    width: 100vw;
    background: linear-gradient(45deg, #000000, #2940D3);
}

.all-section-series {
    display: flex;
    flex-direction: column;
}

.statistic__series {
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: var(--black);
    justify-content: space-evenly;
    margin: 1em auto 0;
}

.table__statistic-series {
    width: 90%;
    height: 90%;
    margin: 1em auto;
    background: linear-gradient(45deg, #000, #232323);
}

.table__statistic-series .info__statistic-series {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: var(--lightblack);
}

.table__statistic-series .info__statistic-series .title__statistic-series {
    display: block;
    color: var(--yellow);
    font-size: 15px;
    margin: 5px 0;
}

.table__statistic-series .info__statistic-series .dashboard__series {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

.table__statistic-series .info__statistic-series .dashboard__series .dashboard__info-series {
    width: 84%;
    height: 205px;
    background: var(--blue);
    border-radius: 50%;
    margin: 15px 8%;
}

.table__statistic-series .info__statistic-series .dashboard__series .information-series {
    display: flex;
    flex-direction: column;
}

.table__statistic-series .info__statistic-series .dashboard__series .information-series span {
    color: var(--yellow);
    padding: 3px 5px;
}

.statistic__series:last-child {
    padding: 1em 0;
    margin-bottom: 1em;
}

.addition-board {
    display: block;
    width: 90%;
    height: 2em;
    border-radius: 25px;
    background: var(--lightblack);
}

.addition-board a {
    text-decoration: none;
    color: var(--yellow);
}

.addition-board a .addition-delete {
    text-align: center;
    display: block;
    padding: 7px 0;
}

@media only screen and (min-width:768px) and (max-width:1024px){

    .table__statistic-series .info__statistic-series .dashboard__series {
        flex-direction: row;
        justify-content: flex-start;
    }

    .table__statistic-series .info__statistic-series .dashboard__series .dashboard__info-series {
        width: 50%;
        height: 300px;
        padding: 2% 0;
    }

    .table__statistic-series .info__statistic-series .dashboard__series .information-series {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width:1024px) and (max-width:1440px) {
    .all-section-series {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .statistic__series {
        width: 45vw;
        padding: 0 0 1em 0;
    }

    .table__statistic-series .info__statistic-series .dashboard__series .dashboard__info-series {
        width: 84%;
        height: 350px;
        padding: 0;
    }
    
    .table__statistic-series .info__statistic-series .dashboard__series .information-series {
        margin: 0 1em;
    }

    .table__statistic-series .info__statistic-series .dashboard__series .information-series span {
        width: 350px;
        padding: 1em;
    }
}