.seriesInformation {
    width: 85%;
    height: 1.5em;
    margin: 1em 0 0 2.5em;
}

.seriesInformation .information-series {
    width: 100%;
    height: 2em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: linear-gradient(-45deg, #fff, #232323);
}

.seriesInformation .information-series .series-id {
    flex-grow: .7;
}

.seriesInformation .information-series .series-id .idProduct-series {
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.seriesInformation .information-series .titleName-series {
    flex-grow: 2;
}

.seriesInformation .information-series .titleName-series .nameProduct-series {
    text-align: center;
    padding: 2% 0;
    font-family: var(--averia);
}

.seriesInformation .information-series .titleOption-series {
    flex-grow: .2;
}

.seriesInformation .information-series .titleOption-series .optionProduct-series {
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.seriesInformation .table-series {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background: linear-gradient(45deg, #232323, #d8c371);
}

.seriesInformation .table-series .series-id {
    width: 0;
    flex-grow: .7;
    margin: auto;
}

.seriesInformation .table-series .series-id p {
    width: 2em;
    text-align: center;
    padding: 5% 0;
    font-family: var(--averia);
}

.seriesInformation .table-series .titleName-series {
    flex-grow: 2;
}

.seriesInformation .table-series .titleName-series p {
    width: auto;
    text-align: center;
    padding: 2% 0;
    font-family: var(--averia);
}

.seriesInformation .table-series .titleOption-series {
    flex-grow: .2;
}

.capsule-series .table-series .optionSeries-product a i {
    color: var(--black);
    padding: 5px;
}

.capsule-series .table-series .element-series-delete form .delete-series {
    background: transparent;
    border: none;
}

.capsules-series .table-series .element-series-delete form .delete-series i {
    color: var(--black);
    background: transparent;
    padding: 5px;
}

.add-product-series {
    width: 10em;
    margin: 2em 5em 4em;
}

.add-product-series .button-product-series {
    width: 80%;
    height: 2em;
    margin: 0 10% 0 20%;
    padding: 0 5%;
}

.add-product-series .button-product-series a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(45deg, #39A9CB, #d8c371);
    border-radius: 2em;
    border: 1px solid var(--black);
    box-shadow: 1px 1px 8px 0 var(--black);
}

.add-product-series .button-product-series a i {
    border: none;
    color: var(--lightblack);
}

.add-product-series .button-product-series a p {
    border: none;
    color: var(--lightblack);
    font-family: var(--staatliches);
}

@media only screen and (min-width:768px) and (max-width:1024px){

    .seriesInformation {
        margin: 1em auto 0;
    }
    
    .seriesInformation .table-series .series-id {
        width: 0;
        flex-grow: .5;
    }

    .seriesInformation .table-series .series-id p {
        width: 12em;
    }

    .seriesInformation .table-series .titleName-series p {
        padding: 5% 0;
    }

    .seriesInformation .table-series .optionProduct-series a i {
        padding: 15px;
    }

    .seriesInformation .table-series .element-series-delete form .delete-series i {
        padding: 15px;
    }

    .add-product-series {
        width: 14em;
        margin: 5% auto;
    }

    .add-product-series .button-product-series {
        height: 3em;
    }

    .add-product-series .button-product-series a i {
        font-size: 1.2em;
    }

    .add-product-series .button-product-series a p {
        font-size: 1.3em;
    }

}
@media only screen and (min-width:1024px) and (max-width:1440px) {

    .seriesInformation {
        margin: 1em auto 0;
    }

    .add-product-series {
        width: 14em;
        margin: 5% auto;
    }

    .add-product-series .button-product-series {
        height: 3em;
    }

    .add-product-series .button-product-series a i {
        font-size: 1.2em;
    }

    .add-product-series .button-product-series a p {
        font-size: 1.3em;
    }
    
}