.faq-motion {
    font-family: var(--averia);
}

.faq-section {
    width: 90%;
    padding: 1em 0;
    margin: 0 auto 1.5em;
    background: linear-gradient(45deg, #2940d3, #39a9cb);
    border-radius: 1em;
}

.faq-section .title-faq {
    width: 100%;
    padding: 1em 0.5em;
}

.faq-section .title-faq .main-title {
    display: block;
    font-size: 1.2em;
    text-align: center;
}

.faq-section .query-container {
    display: flex;
    width: 100%;
    padding: 1em 0.5em;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.faq-section .query-container .faq-question {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.faq-section .query-container .faq-question .option__faq {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 35%;
    margin: 0 auto 2em;
    box-shadow: 1px 1px 10px #000;
    background: var(--black);
}

.faq-section .query-container .faq-question .option__faq a {
    width: 100%;
    color: var(--blue);
}

.faq-section .query-container .faq-question .option__faq a i {
    display: inline-block;
    width: 100%;
    font-size: 6em;
    padding: 0.3em;
    text-align: center;
}

.faq-section .query-container .faq-question .option__faq a h4 {
    display: block;
    margin: 0 0 2em 0;
    text-align: center;
}

.faq-section .query-container .col-opt {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width:1024px) {

    .faq-section .title-faq .main-title {
        font-size: 2em;
    }

    .faq-section .query-container .faq-question {
        flex-direction: row;
    }

    .faq-section .query-container .faq-question .option__faq {
        width: 20%;
    }

    .faq-section .query-container .faq-question .option__faq a i {
        font-size: 4em;
        padding: 0.2em;
    }

    .faq-section .query-container .col-opt {
        display: none;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

    .faq-section .title-faq .main-title {
        font-size: 2.5em;
    }

    .faq-section .query-container {
        flex-direction: row;
    }

    .faq-section .query-container .faq-question {
        width: 40%;
        max-width: 40em;
        flex-direction: column;
        background: linear-gradient(#232323, #000);
        align-items: center;
        margin: 1em;
    }

    .faq-section .query-container .faq-question .option__faq {
        width: 100%;
        background: none;
        box-shadow: none;
        margin: 1.1em 0;
        border-radius: 0;
    }

    .faq-section .query-container .col-opt {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: linear-gradient(#000, #232323);
        padding: 2.5em;
    }

}

.faq-section .query-container .query__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 2.05em 0;
}

.faq-section .query-container .query__box .title__query-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.faq-section .query-container .query__box .title__article{
    display: block;
    color: var(--yellow);
    font-size: 1em;
    text-align: center;
    padding: 0 0 0.3em;
}

.faq-section .query-container .query__box .description__paragraph {
    color: var(--yellow);
    font-size: .9em;
}

.faq-section .query-container .query__box .list__box {
    padding: 0 0 1.5em;
}

.faq-section .query-container .query__box .list__box .list__description {
    color: var(--yellow);
}

.faq-section > .query-container > .query__box > .list__box > .list__description:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.faq-section .query-container .query__box .list__box .list__description .item__list-chat {
    margin: 0.5em 0 0;
}

.faq-section .query-container .query__box .list__box .item__list-chat a {
    color: #fff;
}

.faq-section .query-container .query__box .list__box .item__list-chat a i {
    color: #fff;
}

