.conteinHeader {
    display: flex;
    justify-content: center;
}

.conteinHeader header {
    position: fixed;
    display: flex;
    background-color: var(--black);
    height: 3.5rem;
    width: 97.5vw;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    justify-content: space-between;
    box-shadow: 0px -13px 15px 9px rgba(57,169,203,1);
    z-index: 9999;
}

.conteinHeader header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 1rem 0px;
}

.conteinHeader header .logo .logA {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteinHeader header .logo .logA img{
    height: 2.5rem;
}

.conteinHeader header .logo .logA p {
    display: flex;
    width: 3.75rem;
    font-family: var(--staatliches);
    color: var(--blue);
    text-align: center;
    text-shadow: 0px 0px 1rem var(--blue),  0px 0px 0.2rem var(--blue)
}

.conteinHeader header .optFoot {
    display: flex;
}

.conteinHeader header .optFoot .cart {
    display: flex;
    color: var(--blue);
    align-items: center;
    margin: 0px 0.5rem 0px;
    font-size: 1.5rem;
}

.conteinHeader header .optFoot .menu {
    color: var(--yellow);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 0.5rem 0px;
    font-size: 1.5rem;
}

.conteinHeader header .optFoot .menu .iconBurguer i{
    color: var(--blue)
}

.conteinHeader header .optFoot .menu .desactive i{
    font-size: 1rem;
}

.conteinHeader header .optFoot .menu .options-menu {
    display: none;
}

.conteinHeader header .optFoot .menu .options-menu .avatar-header {
    width: 75%;
}

.conteinHeader header .optFoot .menu .options-menu .avatar-header img {
    border-radius: 50%;
}

.conteinHeader header .optFoot .menu .active {
    display: block;
    position: absolute;
    background-color: #000000d0;
    height: 25rem;
    width: 8rem;
    right: 1rem;
    top: 3rem;
    border-radius: 1rem;
    border: solid 1px var(--black);
    padding: 0.3rem 0.5rem;
    animation: openMenu 0.3s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes openMenu{
    from {height: 1rem; width: 1rem;}
    to {height: 15rem; width: 8rem;}
}

.conteinHeader header .optFoot .menu .options-menu .list-item {
    font-size: 1rem;
    margin: 0.5rem 0;
    animation: openList 0.3s linear;
}
@keyframes openList{
    from {font-size: 0rem;}
    to {font-size: 1rem;}
}

.conteinHeader header .optFoot .menu .options-menu .list-item a{
    color: var(--yellow);
    text-decoration: none;
    font-family: var(--averia);
}

.conteinHeader header .optFoot .menu .options-menu .list-item #search-header{
    width: 6rem;
    animation: openInput 0.3s linear;
}
@keyframes openInput{
    from {width: 0rem;}
    to {width: 6rem;}
}

.conteinHeader header .optFoot .menu .options-menu .list-item #search-header:selected{
    outline: none;
}

.conteinHeader header .optFoot .RegAndLog {
    display: none;
}
.conteinHeader header .nav {
    display: none;
}

@media (min-width: 768px) {

    .conteinHeader header {
        height: 5.25rem;
    }

    .conteinHeader header .logo {
        flex-direction: column;
        margin: 0 0.5rem 0 0.5rem;
        width: 6rem;
    }

    .conteinHeader header .logo .logA {
        display: flex;
        flex-direction: column;
    }

    .conteinHeader header .logo .logA img {
        height: 3rem;
    }
    .conteinHeader header .logo .logA p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
        width: 6rem;
        font-size: 20px;
    }

    .conteinHeader header .nav {
        display: flex;
        width: 50vw;
        justify-content: space-between;
        align-items: center;
        font-family: var(--averia);
    }

    .conteinHeader header .nav a {
        text-decoration: none;
        color: var(--lightblue);
        transition-property: font-size;
        transition-duration: 3s;
        transition-delay: 0s;
        font-size: 16px;
    }
    
    .conteinHeader header .nav a:hover {
        transition-property: font-size;
        transition-duration: 1s;
        transition-delay: 0s;
        font-size: 20px;
        cursor: pointer;
    }

    .conteinHeader header .nav .in {
        height: 16px;
        width: 6rem;
    }
    .conteinHeader header .nav .in:focus {
        outline: none;
        padding: 2px;
    }

    .conteinHeader header .optFoot {
        margin-right: 0.5rem;
    }
    
    .conteinHeader header .optFoot .cart { 
        font-size: 20px;
    }

}

@media (min-width: 1024px) {
    
    .conteinHeader header {
        height: 6rem;
        box-shadow: 0px -10px 27px 9px rgba(57,169,203,1);
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    .conteinHeader header .logo {
        flex-direction: column;
        margin-left: 1rem;
        width: 9rem;
    }

    .conteinHeader header .logo:hover {
        cursor: pointer;
    }

    .conteinHeader header .logo .logA {
        display: flex;
        flex-direction: column;
    }

    .conteinHeader header .logo .logA img {
        height: 3.5rem;
    }
    .conteinHeader header .logo .logA p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
        width: 9rem;
        font-size: 25px;
    }
    
    .conteinHeader header .nav {
        width: 55vw;
    }

    .conteinHeader header .nav a {
        transition: font-size 3s;
        font-size: 19px;
    }
    
    .conteinHeader header .nav a:hover {
        transition: font-size 1s;
        font-size: 27px;
        cursor: pointer;
    }

    .conteinHeader header .nav .in {
        height: 20px;
        width: 11vw;
        transition: all 1s;
    }

    .conteinHeader header .nav .in:hover {
        animation: in 0.3s linear;
        width: 16vw;
    }
    

    .conteinHeader header .optFoot .cart { 
        font-size: 28px;
    }
    
    .conteinHeader header .optFoot .menu {
        display: none;
    }

    .conteinHeader header .optFoot .RegAndLog {
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: var(--averia);
    }

    .conteinHeader header .optFoot .RegAndLog .avatar-header {
        height: 4rem;
        width: 4rem;
    }

    .conteinHeader header .optFoot .RegAndLog .avatar-header img {
        border-radius: 50%;
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    .conteinHeader header .optFoot .RegAndLog a{
        color: var(--lightblue);
        text-decoration: none;
        transition-property: font-size;
        transition-duration: 3s;
        transition-delay: 0s;
        font-size: 17px;
    }
    
    .conteinHeader header .optFoot .RegAndLog .sesion a:hover {
        transition-property: font-size;
        transition-duration: 1s;
        transition-delay: 0s;
        font-size: 17.5px;
        cursor: pointer;
    }

    .conteinHeader header .optFoot .RegAndLog .containSesion {
        width: 12rem;
        display: flex;
        flex-direction: row;
    }
    .conteinHeader header .optFoot .RegAndLog .containSesion .sesion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .conteinHeader header .optFoot .RegAndLog .a-avatar img {
        border: 1px solid var(--lightblue);
        border-radius: 50%;
    }

    .conteinHeader header .optFoot .RegAndLog .a-avatar img:hover {
        cursor: pointer;
    }

}