.index .options {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index .options .barOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1.5rem;
    width: 86vw;
    margin: 1.5rem 0;
    border-radius: 120px;
    background-color: var(--yellow);
    color: var(--blue);
    font-family: var(--averia);
}

.index .options .barOptions a {
    text-decoration: none;
    color: var(--blue);
}

.index .options .barOptions #navOpt {
    display: none;
}

.index .carousel {
    display: none;
}



@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.index .products {
    flex-direction: column;
    font-size: 1.20rem;
    font-family: var(--averia);
}













.row {

    overflow: hidden;
    width: 100%;
    height: 17rem;
}

.row__inner {
    position: relative;
    left: 0rem;
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    width: 74rem;
    margin: 1rem 0 2rem 0;
}

.tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 142px;
    margin-right: -4rem;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}

.tile__img {
    width: 10rem;
    height: 14rem;
    object-fit: fill;
    box-shadow: 0px 0px 14px -3px rgb(255 255 255);
    border-radius: 0.3rem;
}

/* .tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity
}
 
.tile__details::after,
.tile__details::before {
    content: '';
    top: 50%;
    left: 50%;
}
    

.tile__details::after {
    margin-top: 25px;
    margin-left: 25px;
    width: 50px;
    height: 50px;
    border: 3px solid #ecf0f1;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.tile__details::before {
    content: '▶';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
} */

  .tile:hover{
      opacity: 1
  }

.tile__title {
    position: absolute;
    bottom: 0;
      padding: 10px;
}


.row__inner:hover {

    transform: translate3d(1.5rem, 0, 0)
}

.row__inner:hover .tile {
    /* Fade out every tile */
    opacity: .3
}


  
  .row__inner:hover .tile:hover {
      transform: scale(1.1);
      opacity: 1;
  }


.tile {
    transform: translate3d(0.5rem, 0, 0)
}














.index .products .film {
    display: flex;
    flex-direction: column;
    margin: -1rem 0 2rem 0;
}

.index .products .film .text {
    margin: 2rem 0 1rem 0;
}

.index .products .film .text a {
    color: var(--yellow);
    text-decoration: none;
    padding-left: 10vw;
}

.index .products .film .demo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5vw;
}

.index .products .film .demo img {
    width: 40vw;
    height: 12rem;
    object-fit:fill;
    border: 0.1px solid var(--lightblack)
}

.index .products .film .demo .img3 {
    display: none
}

.index .products .film3 {
    display: none;
}

.index .products .film4 {
    display: none;
}

@media (min-width: 425px) {

    .index .products .film .demo img {
        height: 15rem;
        max-width: 12rem;
    }

}

@media (min-width: 768px) {

    .index .options {
        margin-top: 5rem;
    }

    .index .options .barOptions {
        width: 75vw;
        font-size: 17px;
    }
    
    .index .options .barOptions #inpOpt {
        display: none;
    }
    
    .index .options .barOptions #navOpt {
        display: flex;
    }

    .index .options .barOptions #navOpt i {
        padding: 3px;
    }

    .index .carousel {
        display: block;
        width: 98%;
        margin: auto;
        overflow: hidden;
    }

    .index .carousel #carousel { 
        perspective: 500px; 
        background: var(--black); 
        padding-top: 3%; 
        font-size:0; 
        margin-bottom: -4rem; 
        overflow: hidden; 
    }
    .index .carousel #spinner { 
        transform-style: preserve-3d; 
        height: 300px; 
        transform-origin: 50% 50% -500px; 
        transition: 1s; 
        object-fit: cover;
    } 
    .index .carousel #spinner img { 
        width: 42%; max-width: 425px; 
        height: 12rem;
        position: absolute; left: 30%;
        transform-origin: 50% 50% -500px;
        outline:1px solid white; 
        object-fit: fill;
        border-radius: 5px;
        border: outset 1px white;
    }
    .index .carousel figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
    }
    .index .carousel figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
    .index .carousel figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
    .index .carousel figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
    .index .carousel figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
    .index .carousel figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
    .index .carousel figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
    .index .carousel figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
    .index .carousel #carousel ~ span { 
        color: white; 
        display: inline-block; 
        text-decoration: none; 
        font-size: 2rem; 
        transition: 0.5s color; 
        position: relative; 
        margin-top: -19%; 
        border-bottom: none; 
        line-height: 0; 
    }
    .index .carousel div#carousel ~ span:hover{ 
        color: var(--blue); 
        cursor: pointer; 
    }

    .index .products .film .demo img {
        width: 28vw;
        height: 19rem;
    }

    .index .products .film .demo .img3 {
        display: block;
    }
    
    .index .products .film3 {
        display: flex;
    }
}




@media (min-width: 1024px) {

    .index .options {
        margin-top: 6rem;
    }

    .index .options .barOptions {
        width: 70vw;
        height: 2rem;
        margin: 2rem 0;
        font-size: 18px;
    }

    .index .options .barOptions a {
        transition-property: text-shadow;
        transition-delay: 0s;
        text-shadow: 0px 0px 1px var(--black),  0px 0px 1px var(--black);
    }
    
    .index .options .barOptions a:hover {
        transition-property: text-shadow;
        transition-delay: 0s;
        text-shadow: 0px 0px 0px black,  0px 0px 0px black;
        cursor: pointer;
    }

    .index .options .barOptions #navOpt {
        transition-property: text-shadow;
        transition-delay: 0s;
        text-shadow: 0px 0px 1px var(--black),  0px 0px 1px var(--black);
    }

    .index .options .barOptions #navOpt:hover {
        transition-property: text-shadow;
        transition-delay: 0s;
        text-shadow: 0px 0px 0px black,  0px 0px 0px black;
        cursor: pointer;
    }

    .index .carousel {
        width: 95%;
    }

    .index .carousel div#carousel { 
        margin-bottom: 0rem; 
    }
    .index .carousel figure#spinner { 
        transform-origin: 50% 50% -47rem; 
        height: 320px; 
        transition: 1.5s; 
    } 
    .index .carousel figure#spinner img { 
        max-width: 38rem;
        width: 50%; 
        height: 18rem;
        transform-origin: 50% 50% -47rem;
        border: inset 2px white;
    }

    .index .products {
        font-size: 2rem;
    }

    .index .products .film {
        margin: -1rem 0 2rem 0
    }

    .index .products .film .text a {
        padding-left: 10vw;
        transition-property: text-shadow;
        transition-duration: 3s;
        transition-delay: 0s;
        text-shadow: 0px 0px 3px white,  0px 0px 3px white;
    }
    
    .index .products .film .text a:hover {
        transition-property: text-shadow;
        transition-duration: 3s;
        transition-delay: 0s;
        text-shadow: 0px 0px 0px white,  0px 0px 0px white;
        cursor: pointer;
    }

    .index .products .film .demo{
        justify-content: space-between;
        margin: 0.5rem 0;
    }

    .index .products .film .demo img {
        height: 26rem;
        object-fit:fill;
        max-height: 35rem;
        max-width: 25rem;
    }

    .index .products .film .demo img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .index .products .film4 {
        display: flex;
    }

}