.section-cart {
    height: 1.8rem;
    background-color: var(--yellow);
    margin: 1.5rem 7vw;
    border-radius: 120px;
    box-shadow: 1px 1px 8px 0 var(--black);
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 4px;
}

.options__list {
    align-items: center;
    margin: auto;
}

.options__list a {
    text-decoration: none;
    color: var(--blue);
}

span a:hover {
    text-shadow: 1px 1px 2px var(--black);
}

.contain-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.contain-grid .gender__grid, .gender__grid-2, 
.gender__grid-3, .gender__grid-4, .gender__grid-5 {
    font-family: var(--averia);
    font-weight: bold;
    font-size: 25px;
    color: var(--yellow);
    padding: 10px;
    text-shadow: 0px 0px 4px white, 0px 0px 4px white;
}

.movies__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gender__movies, .gender__movies-2,
.gender__movies-3, .gender__movies-4, .gender__movies-5 {
    margin: 10px 0;
}

.gender__movies:first-child {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/EndGame356x512.jpg');
    background-size: 100% 100%;
}

.gender__movies:nth-child(2) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/Matrix720x1080.jpg');
    background-size: 100% 100%;
}

.gender__movies:nth-child(3) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/MortalKombat720x1080.jpg');
    background-size: 100% 100%;
}

.gender__movies:nth-child(4) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/joker700.jpg');
    background-size: 100% 100%;
}

.gender__movies:nth-child(5) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/ZonaDeRiesgo350x445.jpg');
    background-size: 100% 100%;
}

.gender__movies:last-child {
    width: 150px;
    height: 150px;
}

.gender__movies:last-child .see-more {
    display: inline-block;
    padding: 40% 40%;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: var(--yellow);
    text-align: center;
    
}

.gender__movies-2:first-child {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/21jumpstreet.jpg');
    background-size: 100% 100%;
}

.gender__movies-2:nth-child(2) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/blackPanther.jpg');
    background-size: 100% 100%;
}

.gender__movies-2:nth-child(3) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/comandoEspecial.jpg');
    background-size: 100% 100%;
}

.gender__movies-2:nth-child(4) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/unEspiayMedio.jpg');
    background-size: 100% 100%;
}

.gender__movies-2:nth-child(5) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/FreeGuy183x275.jpg');
    background-size: 100% 100%;
}

.gender__movies-2:last-child .see-more {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: var(--yellow);
    text-align: center;
}

.gender__movies-3:first-child {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/comedia.jpg');
    background-size: 100% 100%;
}

.gender__movies-3:nth-child(2) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/comedia1.jpg');
    background-size: 100% 100%;
}

.gender__movies-3:nth-child(3) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/superbad.jpg');
    background-size: 100% 100%;
}

.gender__movies-3:nth-child(4) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/ted.jpg');
    background-size: 100% 100%;
}

.gender__movies-3:nth-child(5) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/suicideSquad.jpg');
    background-size: 100% 100%;
}

.gender__movies-3:last-child .see-more {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: var(--yellow);
    text-align: center;
}

.gender__movies-4:first-child {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/the-simpsons.jpg');
    background-size: 100% 100%;
}

.gender__movies-4:nth-child(2) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/tom-jerry.jpg');
    background-size: 100% 100%;
}

.gender__movies-4:nth-child(3) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/luca.jpg');
    background-size: 100% 100%;
}

.gender__movies-4:nth-child(4) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/tadeo-jones.jpg');
    background-size: 100% 100%;
}

.gender__movies-4:nth-child(5) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/SamuraiX720x1080.jpg');
    background-size: 100% 100%;
}

.gender__movies-4:last-child .see-more {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: var(--yellow);
    text-align: center;
}

.gender__movies-5:first-child {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/It2.jpg');
    background-size: 100% 100%;
}

.gender__movies-5:nth-child(2) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/Anabelle341x192.jpg');
    background-size: 100% 100%;
}

.gender__movies-5:nth-child(3) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/Cruella.jpg');
    background-size: 100% 100%;
}

.gender__movies-5:nth-child(4) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/Vikingos1280.jpg');
    background-size: 100% 100%;
}

.gender__movies-5:nth-child(5) {
    width: 150px;
    height: 150px;
    background-image: url('/img/peliculas/zombieland.jpg');
    background-size: 100% 100%;
}

.gender__movies-5:last-child .see-more {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: var(--yellow);
    text-align: center;
}

.movies__section .see-more p {
    display: inline-block;
}

.movies__section .see-more p:hover {
    color: #fff;
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .section-cart {
        display: none;
    }

    .section-cartDesktop {
    display: block;
    height: 1.8rem;
    width: 86vw;
    background-color: var(--yellow);
    margin: 6.5rem auto 1.5rem;
    border-radius: 120px;
    box-shadow: 1px 1px 8px 0 var(--black);
    }

    .movies__section .gender__movies, .movies__section .gender__movies-2,
    .movies__section .gender__movies-3, .movies__section .gender__movies-4, 
    .movies__section .gender__movies-5 {
        width: 250px;
        height: 250px;
    }

    .gender__movies:last-child .see-more, .gender__movies-2:last-child .see-more,
    .gender__movies-3:last-child .see-more, .gender__movies-4:last-child .see-more,
    .gender__movies-5:last-child .see-more {
    padding: auto auto;
    }   
}

@media only screen and (min-width: 1024px) {
    .gender__movies:last-child .see-more, .gender__movies-2:last-child .see-more,
    .gender__movies-3:last-child .see-more, .gender__movies-4:last-child .see-more,
    .gender__movies-5:last-child .see-more {
        padding: auto auto;
    }
}