*:hover {
 cursor: default;
}

.body-cart {
    background: var(--lightblack);
}

.section-cartDesktop {
    display: none;
}

.section-cart {
    height: 1.8rem;
    background-color: var(--yellow);
    margin: 76px 7vw 25px !important;
    border-radius: 120px;
    box-shadow: 1px 1px 8px 0 var(--black);
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 4px;
}

.options__list {
    align-items: center;
    margin: auto;
}

.options__list a {
    text-decoration: none;
    color: var(--lightblue);
}

span a:hover {
    text-shadow: 1px 1px 2px var(--black);
}

.detail-cart {
    margin: 15px 0;
}

.section__article {
    display: flex;
}

.box__movie {
    width: 100vw;
}

.box__movie:first-child {
    width: 200px;
    height: 100px;
    margin: 11px;
    box-shadow: 1px 1px 8px 0 var(--black);
    filter: contrast(115%) brightness(1);
    clip-path: circle(50% at 50% 50%);
    z-index: -1;
}

.box__movie img {
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 8px 0 var(--black);
}

.box__movie:nth-child(2) {
    width: 40%;
    color: var(--yellow);
    text-align: center;
    margin: 25px 1px;
}

.box__movie .price {
    background-color: var(--yellow);
    color: var(--lightblue);
    border-radius: 50%;
    font-size: 25px;
    padding: 5px;
    box-shadow: 1px 1px 8px 0 var(--black);
}

.box__movie .type-add {
    text-transform: uppercase;
    font-size: 10px;
}

.box__movie:last-child{
    color: var(--yellow);
    font-size: 13px;
    padding-left: 10px;
}

.box__movie h1 {
    color: var(--blue);
}

.box__movie p {
    padding-right: 5px;
}

.modify-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 25px;
    color: var(--lightblack);
}

.modify-selection .delete {
    background: transparent;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid var(--yellow);
    color: var(--blue);
}

.modify-selection .modify {
    background: transparent;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid var(--yellow);
    color: var(--blue);
}

.delete:hover {
    cursor: pointer;
    color: #fff;
}

.modify:hover {
    cursor: pointer;
    color: #fff;
}

.total-cart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.total-cart .price-total {
    color: var(--yellow);
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin: 3px 0;
    padding: 2px 0;
}

.total-cart .keep-buying {
    background: transparent;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid var(--yellow);
    color: var(--blue);
    margin: 15px 0;
}

.keep-buying:hover {
    cursor: pointer;
    color: #fff;
}

.total-cart .to-pay {
    width: 107px;
    height: 35px;
    background: var(--yellow);
    color: var(--blue);
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    padding: 5px;
    margin: 20px 5px;
    box-shadow: 1px 1px 8px 0 var(--black);
    border: none;
    border-radius: 10%;
}

.to-pay:hover {
    cursor: pointer;
    background: var(--lightblue);
    color: var(--yellow);
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .section-cart {
        display: none;
    }

    .section-cartDesktop {
    display: block;
    height: 1.8rem;
    width: 86vw;
    background-color: var(--yellow);
    margin: 6.5rem auto 1.5rem;
    border-radius: 120px;
    box-shadow: 1px 1px 8px 0 var(--black);
    }

    .options-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 4px;
    }

    .options__list-desktop {
        align-items: center;
        margin: auto;
    }

    .options__list-desktop a {
        text-decoration: none;
        color: var(--lightblue);
    }

    .modify-selection {
        justify-content: space-between;
        padding: 0 10px;
        margin: 0 37px;
    }
    
    .box__movie:first-child {
        width: 400px;
        height: 200px;
    }

    .box__movie .price {
        display: inline-block;
        font-size: 35px;
        padding: 20px;
        margin-top: 15px;
    }

    .box__movie .type-add {
        display: inline-block;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 50px;
    }

    .box__movie:last-child{
        font-size: 15px;
        padding: 10px;
    }

    .modify-selection .delete {
        font-size: 15px;
        padding: 0 5px;
        margin: 0 35px;
    }

    .modify-selection .modify {
        font-size: 15px;
        padding: 0 5px;
        margin: 0 35px;
    }

    .total-cart .price-total {
        font-size: 18px;
    }

    .total-cart .keep-buying {
        font-size: 18px;
        text-transform: uppercase;
    }

    .total-cart .to-pay {
        margin: 20px auto;
    }

}

@media only screen and (min-width: 1024px) {
    .section-cart {
        display: none;
    }

    .section-cartDesktop {
    display: block;
    height: 1.8rem;
    width: 86vw;
    background-color: var(--yellow);
    margin: 9rem auto 1.5rem;
    border-radius: 120px;
    box-shadow: 1px 1px 8px 0 var(--black);
    }

    .options-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 4px;
    }

    .options__list-desktop {
        align-items: center;
        margin: auto;
    }

    .options__list-desktop a {
        text-decoration: none;
        color: var(--lightblue);
    }
    
    .box__movie:first-child {
        width: 600px;
        height: 300px;
    }

    .box__movie:nth-child(2) {
        margin: auto 1px;
    }

    .box__movie .price {
        font-size: 55px;
    }

    .box__movie .type-add {
        display: inline-block;
        font-size: 15px;
        margin-top: 50px;
    }

    .box__movie:last-child{
        font-size: 15px;
        padding: 10px;
    }

    .modify-selection {
        justify-content: space-between;
        padding: 0 10px;
        margin: 0 35px;
    }

    .modify-selection .delete {
        font-size: 20px;
        padding: 0 15px;
        margin: 0 65px;
    }

    .modify-selection .modify {
        font-size: 20px;
        padding: 0 15px;
        margin: 0 65px;
    }

    .total-cart .price-total {
        font-size: 20px;
        margin: 10px auto;
    }

    .total-cart .keep-buying {
        font-size: 20px;
        text-transform: uppercase;
        margin: 10px auto;
    }

    .total-cart .to-pay {
        margin: 20px auto;
    }

}