@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,700&family=Staatliches&display=swap');
@import url('header.css');
@import url('home.css');
@import url('style-product-cart.css');
@import url('forms.css');
@import url('footer.css');
@import url('indexProducts.css');
@import url('productDetail.css');
@import url('admin.css');
@import url('profile.css');
@import url('adminMovie.css');
@import url('adminSeries.css');
@import url('notFound.css');
@import url('favorites.css');
@import url('adminForm.css');
@import url('adminStatistics.css');
@import url('adminHeader.css');
@import url('adminFooter.css');
@import url('faq.css');
@import url('adminUsers.css');

:root {
    --black: #000000;
    --blue: #2940D3;
    --lightblue: #39A9CB;
    --lightblack: #232323;
    --yellow: #d8c371;
    --averia: 'Averia Sans Libre', cursive;
    --staatliches: 'Staatliches', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}