<%- include('partials/head') %>
<body class="body-admin">
    <!-- admin Header -->
    <header class="contain-header">
        <div class="menu-header"></div>
        <div class="header-mobile">
            <nav class="nav-header">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-angle-right"></i>
                </label>
                <ul class="flex-list">
                    <li class="li__flex-items">
                        <a href="#"><i class="fas fa-film"></i>Peliculas</a>
                    </li>
                    <li class="li__flex-items">
                        <a href="#"><i class="fas fa-tv"></i>Series</a>
                    </li>
                    <li class="li__flex-items">
                        <a href="#"><i class="fas fa-plus-circle"></i>Nuevo producto</a>
                    </li>
                    <li class="li__flex-items">
                        <a href="#"><i class="far fa-trash-alt"></i>Dar de Baja</a>
                    </li>
                    <li class="li__flex-items">
                        <a href="#"><i class="fas fa-envelope-open-text"></i>Bandeja de entrada</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Logo -->
    <br>
    <div class="img">
        <img src="/img/Blanco.svg" alt="">
        <span>Page-admin</span>
        <span>Slow motion</span>
    </div>
    <!-- Product database -->
    <section class="database">
        <article class="products">
            <div class="section__database">
                <div class="button-options">
                    <a href="#">
                        <i class="fas fa-film"></i>
                        <span class="sections">Peliculas</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="products">
            <div class="section__database">
                <div class="button-options">
                    <a href="#">
                        <i class="fas fa-tv"></i>
                        <span class="sections">Series</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="products">
            <div class="section__database">
                <div class="button-options">
                    <a href="#">
                        <i class="fas fa-users"></i>
                        <span class="sections">Usuarios</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="products">
            <div class="section__database">
                <div class="button-options">
                    <a href="#">
                        <i class="fas fa-tag"></i>
                        <span class="sections">Ofertas</span>
                    </a>
                </div>
            </div>
        </article>
    </section>
</body>
</html>