<%- include('partials/head') %>
<body class="body-admin">
    <!-- admin Header -->
    <header class="contain-header">
        <!-- Header mobile -->
        <div class="header-mobile">
            <nav class="nav-header">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-angle-right"></i>
                    <i class="fas fa-bars"></i>
                </label>
                <ul class="flex-list">
                    <li class="li__flex-items">
                        <a href="#" class="ref-decoration"><i class="fas fa-movie"></i></i><span>Peliculas</span></a>
                    </li>
                    <li class="li__flex-items">
                        <a href="#" class="ref-decoration"><i class="fas fa-tv"></i><span>Series</span></a>
                    </li>
                    <li class="li__flex-items">
                        <a href="#" class="ref-decoration"><i class="fas fa-users"></i><span>Usuarios</span></a>
                    </li>
                    <li class="li__flex-items">
                        <a href="#" class="ref-decoration"><i class="fas fa-table"></i><span>Estadisticas</span></a>
                    </li>
                    <li class="li__flex-items">
                        <a href="#" class="ref-decoration"><i class="fas fa-envelope-open-text"></i><span>Bandeja de entrada</span></a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Header desktop -->
        <!-- <div class="header-desktop">
            <div class="special-input">
                <input type="text" placeholder="Buscador...">
            </div>
            <nav class="menu-header">
                <ul class="flex-list-desktop">
                    <li class="flex-item-desktop"><button><span>Peliculas</span></button></li>
                    <li class="flex-item-desktop"><button><span>Series</span></button></li>
                    <li class="flex-item-desktop"><button><span>usuarios</span></button></li>
                    <li class="flex-item-desktop"><button><span>Estadisticas</span></button></li>
                    <li class="flex-item-desktop"><button><span>bandeja de entrada</span></button></li>
                </ul>
            </nav>
        </div>-->
    </header>
    <!-- Logo -->
    <br>
    <div class="img">
        <img src="/img/Blanco.svg" alt="slow motion">
        <span>Page-admin</span>
        <span>Slow motion</span>
    </div>
    <!-- Product database -->
    <section class="database">
        <button class="products">
            <div class="section__database">
                <a href="#">
                    <div class="button-options">
                        <i class="fas fa-film"></i>
                        <span class="sections">Peliculas</span>
                    </div>
                </a>
            </div>
        </button>
        <button class="products">
            <div class="section__database">
                <a href="#">
                    <div class="button-options">
                        <i class="fas fa-tv"></i>
                        <span class="sections">Series</span>
                    </div>
                </a>
            </div>
        </button>
        <button class="products">
            <div class="section__database">
                <a href="#">
                    <div class="button-options">
                        <i class="fas fa-users"></i>
                        <span class="sections">Usuarios</span>
                    </div>
                </a>
            </div>
        </button>
        <button class="products">
            <div class="section__database">
                <a href="#">
                    <div class="button-options">
                        <i class="fas fa-tag"></i>
                        <span class="sections">Ofertas</span>
                    </div>
                </a>
            </div>
        </button>
    </section>
    <footer class="block-footer">
        <div class="flex-copyright">
            <p>Copyright © Slow motion .inc</p>
            <img src="/img/Blanco.svg" alt="slow motion">
        </div>
    </footer>
</body>
</html>