<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <br>
    <div class="section-cart">
        <div class="options">
            <span class="options__list"><a href="#">Estrenos</a></span>
            <span class="options__list"><a href="#">Historial</a></span>
            <span class="options__list"><a href="#">Mis compras</a></span>
        </div>
    </div>
    <div class="section-cartDesktop">
        <div class="options-desktop">
            <span class="options__list-desktop"><a href="#">Estrenos</a></span>
            <span class="options__list-desktop"><a href="#">Historial</a></span>
            <span class="options__list-desktop"><a href="#">Mis compras</a></span>
            <span class="options__list-desktop"><a href="#">Ayuda</a></span>
        </div>
    </div>
    <br>
    <!-- section faq -->
    <section class="faq-section">
        <div class="title-faq">
            <h1 class="main-title">Centro de ayuda de slow motion</h1>
        </div>
        <div class="query-container">
            <article class="query__box">
                <div class="title__query-box">
                    <h2 class="title__article">Consultas administrativas</h2>
                    <p class="description__paragraph">Se gestionan, solicitan y evacuan todas las dudas referidas a cuestiones administrativas:</p>
                </div>
                <div class="list__box">
                    <ul class="list__description">
                        <li class="item__list-administrative">Facturación</li>
                        <li class="item__list-administrative">Reembolso</li>
                        <li class="item__list-administrative">Descuento no obetnido</li>
                        <li class="item__list-administrative">Datos personales</li> 
                    </ul>
                </div>
            </article>
            <article class="query__box">
                <div class="title__query-box">
                    <h2 class="title__article">Consultas tecnicas</h2>
                    <p class="description__paragraph">Se gestionan, solicitan y evacuan todas las dudas referidas a cuestiones tecnicas:</p>
                </div>
                <div class="list__box">
                    <ul class="list__description">
                        <li class="item__list-technique">Problemas con la calidad del producto</li>
                        <li class="item__list-technique">Problemas con el idioma y/o subtitulo</li>
                        <li class="item__list-technique">El producto no se habilito</li>
                        <li class="item__list-technique">El producto es defectuoso</li>
                    </ul>
                </div>
            </article>
            <article class="query__box">
                <div class="title__query-box">
                    <h2 class="title__article">Consultas sobre la plataforma</h2>
                    <p class="description__paragraph">Para que podamos garantizarte una experiencia de usuario mas agradable te pedimos que nos hagas llegar cualquier inconveniente que te haya surgido en la plataforma así podremos solucionarlo cuanto antes:</p>
                </div>
                <div class="list__box">
                    <ul class="list__description">
                        <li>Problemas con mi perfil</li>
                        <li>Problemas al cargar formas de pago</li>
                        <li>Problemas al modificar datos personales</li>
                        <li>Problemas en general con la plataforma</li>
                    </ul>
                </div>
            </article>
            <article class="query__box">
                <div class="title__query-box">
                    <h2 class="title__article">Chatea con nosotros</h2>
                    <p class="description__paragraph">La importancia de esclarecer todas tus dudas e inquietudes en el momento que surjan nos interesa, por eso hemos decidido poner estos canales en línea para la resolución de estas:</p>
                </div>
                <div class="list__box">
                    <ul class="list__description">
                        <li class="item__list-chat"><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
                        <li class="item__list-chat"><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                        <li class="item__list-chat"><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
                        <li class="item__list-chat"><a href="#"><i class="fab fa-whatsapp"></i>Whatsapp</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </section>
    <%- include('partials/footer') %>  
</body>