<%- include('./partials/head') %>
<body class="faq-motion">
    <%- include('./partials/header') %>
    <br>
    <div class="section-cart">
        <div class="options">
            <span class="options__list"><a href="/products/premieres">Estrenos</a></span>
            <span class="options__list"><a href="#">Historial</a></span>
            <span class="options__list"><a href="/products/cart">Mis compras</a></span>
        </div>
    </div>
    <div class="section-cartDesktop">
        <div class="options-desktop">
            <span class="options__list-desktop"><a href="/products/premieres" class="estreno">Estrenos</a></span>
            <span class="options__list-desktop"><a href="#">Historial</a></span>
            <span class="options__list-desktop"><a href="/products/cart">Mis compras</a></span>
            <span class="options__list-desktop"><a href="/faq">Ayuda</a></span>
        </div>
    </div>
    <br>
    <!-- section faq -->
    <section class="faq-section">
        <div class="title-faq">
            <h1 class="main-title">Centro de ayuda de slow motion</h1>
        </div>
        <div class="query-container">
            <ul class="faq-question">
                <li id="faq1" class="option__faq"><a href="#"><i class="fas fa-file-invoice-dollar"></i><h4>Consultas administrativas</h4></a></li>
                <li id="faq2" class="option__faq"><a href="#"><i class="fas fa-cogs"></i><h4>Consultas tecnicas</h4></a></li>
                <li id="faq3" class="option__faq"><a href="#"><i class="fas fa-laptop-code"></i><h4>Consultas sobre la plataforma</h4></a></li>
                <li id="faq4" class="option__faq"><a href="#"><i class="fas fa-comment-dots"></i><h4>Chatea con nosotros</h4></a></li>
            </ul>
            <section class="col-opt">
                <article class="query__box">
                    <div class="title__query-box">
                        <h2 class="title__article">Consultas administrativas</h2>
                        <p class="description__paragraph">Se gestionan, solicitan y evacuan todas las dudas referidas a cuestiones administrativas:</p>
                    </div>
                    <div class="list__box">
                        <ul class="list__description">
                            <li class="item__list administrative">Facturación</li>
                            <li class="item__list administrative">Reembolso</li>
                            <li class="item__list administrative">Descuento no obetnido</li>
                            <li class="item__list administrative">Datos personales</li> 
                        </ul>
                    </div>
                </article>
                <article class="query__box">
                    <div class="title__query-box">
                        <h2 class="title__article">Consultas tecnicas</h2>
                        <p class="description__paragraph">Se gestionan, solicitan y evacuan todas las dudas referidas a cuestiones tecnicas:</p>
                    </div>
                    <div class="list__box">
                        <ul class="list__description">
                            <li class="item__list technique">Problemas con la calidad del producto</li>
                            <li class="item__list technique">Problemas con el idioma y/o subtitulo</li>
                            <li class="item__list technique">El producto no se habilito</li>
                            <li class="item__list technique">El producto es defectuoso</li>
                        </ul>
                    </div>
                </article>
                <article class="query__box">
                    <div class="title__query-box">
                        <h2 class="title__article">Consultas sobre la plataforma</h2>
                        <p class="description__paragraph">Para que podamos garantizarte una experiencia de usuario mas agradable te pedimos que nos hagas llegar cualquier inconveniente que te haya surgido en la plataforma así podremos solucionarlo cuanto antes:</p>
                    </div>
                    <div class="list__box">
                        <ul class="list__description">
                            <li class="item__list platform">Problemas con mi perfil</li>
                            <li class="item__list platform">Problemas al cargar formas de pago</li>
                            <li class="item__list platform">Problemas al modificar datos personales</li>
                            <li class="item__list platform">Problemas en general con la plataforma</li>
                        </ul>
                    </div>
                </article>
                <article class="query__box">
                    <div class="title__query-box">
                        <h2 class="title__article">Chatea con nosotros</h2>
                        <p class="description__paragraph">La importancia de esclarecer todas tus dudas e inquietudes en el momento que surjan nos interesa, por eso hemos decidido poner estos canales en línea para la resolución de estas:</p>
                    </div>
                    <div class="list__box">
                        <ul class="list__description">
                            <li class="item__list-chat"><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
                            <li class="item__list-chat"><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                            <li class="item__list-chat"><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
                            <li class="item__list-chat"><a href="#"><i class="fab fa-whatsapp"></i>Whatsapp</a></li>
                        </ul>
                    </div>
                </article>
            </section>
        </div>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>