    <%- include('partials/head') %> 
    
<body class="index">

    <%- include('partials/header') %> 
    
    <section class="options">
        <div class="barOptions">
            <input id="inpOpt" type="text" placeholder="Buscar...">
            <nav id="navOpt">
                <h3>Generos</h3>
                <i class="fas fa-align-justify"></i>
            </nav>
            <a href=""><h3>Estrenos</h3></a>
            <a href=""><h3>Ofertas</h3></a>
        </div>
    </section>
    </div>
    <div class="carousel">
        <ul>
            <li>
                <a href="/detail">
                    <img src="./img/peliculas/SamuraiX1920x750.jpg" alt="File not found">
                </a>
            </li>
            <li>
                <a href="/detail">
                    <img src="./img/peliculas/carritoVarios.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="/detail">
                    <img src="./img/peliculas/carritoGreebland.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="/detail">
                    <img src="./img/series/dbzcarrito.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="products">
        <div class="film film1">
            <h3 class="text"><a href="/movies">Peliculas:</a></h3>
            <nav class="demo">
                <a href="/detail">
                    <img src="./img/Peliculas/Matrix720x1080.jpg" alt="">
                </a>
                <a href="/detail">
                    <img src="./img/Peliculas/MortalKombat720x1080.jpg" alt="">
                </a>
                <a class='img3' href="/detail">
                    <img src="./img/Peliculas/SamuraiX720x1080.jpg" alt="">
                </a>
            </nav>
        </div>
        <div class="film film2">
            <h3 class="text"><a href="/series">Series:</a></h3>
            <nav class="demo">
                <a href="/detail">
                    <img src="./img/series/GameOfThrones720x1080n2.jpg" alt="">
                </a>
                <a href="/detail">
                    <img src="./img/series/Dark720x1080.jpg" alt="">
                </a>
                <a class='img3' href="/detail">
                    <img src="./img/series/CasaDePapel720x1080.jpg" alt="">
                </a>
            </nav>
        </div>
        <div class="film film3">
            <h3 class="text"><a href="/ofert">En Oferta:</a></h3>
            <nav class="demo">
                <a href="/detail">
                    <img src="./img/series/BlackMirror720x1080.jpg" alt="">
                </a>
                <a href="/detail">
                    <img src="./img/series/WestWorld720x1080.jpg" alt="">
                </a>
                <a class='img3' href="/detail">
                    <img src="./img/peliculas/cincoCorazones.jpg" alt="">
                </a>
            </nav>
        </div>
        <div class="film film4">
            <h3 class="text"><a href="/popular">Populares:</a></h3>
            <nav class="demo">
                <a href="/detail">
                    <img src="./img/series/deathnote.jpg" alt="">
                </a>
                <a href="/detail">
                    <img src="./img/series/maradona.jpg" alt="">
                </a>
                <a class='img3' href="/detail">
                    <img src="./img/Peliculas/blackPanther.jpg" alt="">
                </a>
            </nav>
        </div>
    </div>
    <%- include('partials/footer')  %> 
</body>
</html>