    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %> 

    <!--Shopping cart options section-->
    <div class="section-cart">
        <div class="options">
            <span class="options__list"><a href="#">Estrenos</a></span>
            <span class="options__list"><a href="#">Historial</a></span>
            <span class="options__list"><a href="#">Mis compras</a></span>
        </div>
    </div>
    <div class="section-cartDesktop">
        <div class="options-desktop">
            <span class="options__list-desktop"><a href="#">Estrenos</a></span>
            <span class="options__list-desktop"><a href="#">Historial</a></span>
            <span class="options__list-desktop"><a href="#">Mis compras</a></span>
            <span class="options__list-desktop"><a href="#">Ayuda</a></span>
        </div>
    </div>

    <!-- grid section series -->
    <div class="contain-grid">
        <span class="gender__grid">Accion</span>
        <div class="movies__section">
            <div class="gender__movies"></div>
            <div class="gender__movies"></div>
            <div class="gender__movies"></div>
            <div class="gender__movies"></div>
            <div class="gender__movies"></div>
            <div class="gender__movies">
                <button type="button" class="see-more">
                    <p>Ver más</p>
                </button>
            </div>
        </div>
        <span class="gender__grid-2">Accion / Comedia</span>
            <div class="movies__section">
                <div class="gender__movies-2"></div>
                <div class="gender__movies-2"></div>
                <div class="gender__movies-2"></div>
                <div class="gender__movies-2"></div>
                <div class="gender__movies-2"></div>
                <div class="gender__movies-2">
                    <button type="button" class="see-more">Ver más</button>
                </div>
            </div>
            <span class="gender__grid-3">Comedias</span>
            <div class="movies__section">
                <div class="gender__movies-3"></div>
                <div class="gender__movies-3"></div>
                <div class="gender__movies-3"></div>
                <div class="gender__movies-3"></div>
                <div class="gender__movies-3"></div>
                <div class="gender__movies-3">
                    <button type="button" class="see-more">Ver más</button>
                </div>
            </div>
            <span class="gender__grid-4">Dibujos animados</span>
            <div class="movies__section">
                <div class="gender__movies-4"></div>
                <div class="gender__movies-4"></div>
                <div class="gender__movies-4"></div>
                <div class="gender__movies-4"></div>
                <div class="gender__movies-4"></div>
                <div class="gender__movies-4">
                    <button type="button" class="see-more"> Ver más </button>
                </div>
            </div>
            <span class="gender__grid-5">Terror</span>
            <div class="movies__section">
                <div class="gender__movies-5"></div>
                <div class="gender__movies-5"></div>
                <div class="gender__movies-5"></div>
                <div class="gender__movies-5"></div>
                <div class="gender__movies-5"></div>
                <div class="gender__movies-5">
                    <button type="button" class="see-more">Ver más</button>
                </div>
            </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer')  %>
</body>
</html>