<%- include('../partials/head') %>
<body class="body-cart">
    <%- include('../partials/header') %>
    <br>
    <div class="section-cart">
        <div class="options">
            <span class="options__list"><a href="/products/premieres">Estrenos</a></span>
            <span class="options__list"><a href="#">Historial</a></span>
            <span class="options__list"><a href="/products/cart">Mis compras</a></span>
        </div>
    </div>
    <div class="section-cartDesktop">
        <div class="options-desktop">
            <span class="options__list-desktop"><a href="/products/premieres">Estrenos</a></span>
            <span class="options__list-desktop"><a href="#">Historial</a></span>
            <span class="options__list-desktop"><a href="/products/cart">Mis compras</a></span>
            <span class="options__list-desktop"><a href="/faq">Ayuda</a></span>
        </div>
    </div>
    <div class="purchase-detail" id="cart">
        <!-- CARDS OF PRODUCTS CART -->
    </div>
    <br>
    <section class="total-cart">
        <p class="price-total" id="totalPrice">Precio Total : $$$</p>
        <a class="keep-buying" href="/">Seguir comprando</a>
        <button class="to-pay">Pagar</button>
    </section>
    <br>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>