 <%- include('../partials/head') %> 

<body class="contain-body">
    
    <%- include('../partials/header') %>

    <main class="contenido">
        <div class="contenedor-padre">

            <div class="image-container">
            <img src="img/peliculas/Cruella.jpg" alt="">
            <div class="corazon">
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
        </div>
    </div>
    <div class="contein-options">
        <div class="barOptions">
            <nav id="navOpt">
                <h3>Generos</h3>
                <i class="fas fa-align-justify"></i>
            </nav>
            <a href=""><h3>Historial</h3></a>
            <a href=""><h3>Lista de deseos</h3></a>
            <a href=""><h3>Estrenos</h3></a>
            <a href=""><h3>Ofertas</h3></a>
        </div>
    </div>
    <div class="title">
        <h3>Cruella</h3>
    </div>
        <div class="contenedor-box2">

            <img src="img/peliculas/cruela480x282.jpg">
            <div class="play">
            <i class="fas fa-play"></i>
            </div>

        </div>
        <div class="opcionesPelicula">
            <p>Idioma:</p>
            <p class="espacios">|</p>
            <p>Subtítulos:</p>
            <p class="espacios">|</p>
            <p>Calidad:</p>
        </div>
        <div class="contenedor-estadisticas">
            <div>
                <div class="estrella">
                <h5>4.3 </h5>
                <i class="fas fa-star"></i>
            </div>
                <p>Calificación</p>
            </div>
            <p class="espacios">|</p>
            <div class="estadisticas">
                <h5>PG-18</h5>
                <p>Clasificación</p>
            </div>
            <p class="espacios">|</p>
            <div class="estadisticas">
                <h5>3Hs25m</h5>
                <p>Duración</p>

            </div>
        </div>
        <div class="resumen-movie">
            <p>En el misterioso pueblo de Derry, un malvado payaso
                llamado Pennywise vuelve 27 años después para atormentar a los ya adultos miembros del Club de los
                Perdedores, que ahora están más alejados unos de otros.</p>

        </div>
        <div class="container-director">
            <h5>Director:James Cameron</h5>
            <h5>Año: 2021</h5>
            <h5>Género:Familiar</h5>
        </div>
        <div class="icons">
            <a href=""><i class="fas fa-heart"></i> Añadir a favoritos</a>
            <a href=""><i class="fas fa-cart-plus"></i> Añadir a carrito</a>
        </div>
        <div class="botones">
            <button>COMPRAR</button>
            <button>ALQUILAR</button>
        </div>

    </main>

    <%- include('../partials/footer')  %>

</body>

</html>