<%- include('../partials/head') %>
<body class="body-cart">
    <%- include('../partials/header') %>
    <br>
    <div class="section-cart">
        <div class="options">
            <span class="options__list"><a href="#">Estrenos</a></span>
            <span class="options__list"><a href="#">Historial</a></span>
            <span class="options__list"><a href="#">Mis compras</a></span>
        </div>
    </div>
    <div class="section-cartDesktop">
        <div class="options-desktop">
            <span class="options__list-desktop"><a href="#">Estrenos</a></span>
            <span class="options__list-desktop"><a href="#">Historial</a></span>
            <span class="options__list-desktop"><a href="#">Mis compras</a></span>
            <span class="options__list-desktop"><a href="#">Ayuda</a></span>
        </div>
    </div>
    <br>
    <div class="purchase-detail">
        <section class="detail-cart">
            <article class="section__article">
                <div class="box__movie">
                    <div class="img">
                        <img src="/img/peliculas/Anabelle341x192.jpg" alt="">
                    </div>
                </div>
                <div class="box__movie">
                    <h1 class="type-add">alquiler</h1>
                    <div class="price"><p>price</p></div>
                </div>
                <div class="box__movie">
                    <h1 class="title-product">annabelle</h1>
                    <p class="android-p">lorem ipsum dolor, sit met...</p>
                    <p class="tableDesktop-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, fugiat illo harum quod molestias omnis quasi molestiae commodi necessitatibus adipisci alias expedita accusamus ad similique quia tempora eos repellat itaque.</p>
                </div>
            </article>
            <div class="modify-selection">
                <button class="delete"><i class="far fa-trash-alt"></i></button>
                <button class="modify"><i class="far fa-edit"></i></button>
            </div>
        </section>
    </div>
    <br>
    <section class="total-cart">
        <p class="price-total">Precio Totasl : $$$</p>
        <p class="keep-buying">Seguir comprando</p>
        <button class="to-pay">Pagar</button>
    </section>
    <br>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>