<%- include('../partials/head') %> 
<body class="body-cart">  
    <%- include('../partials/header') %> 
    <!--Shopping cart options section-->
    <div class="section-cart">
        <div class="options">
            <span class="options__list"><a href="#">Estrenos</a></span>
            <span class="options__list"><a href="#">Historial</a></span>
            <span class="options__list"><a href="#">Mis compras</a></span>
        </div>
    </div>
    <div class="section-cartDesktop">
        <div class="options-desktop">
            <span class="options__list-desktop"><a href="#">Estrenos</a></span>
            <span class="options__list-desktop"><a href="#">Historial</a></span>
            <span class="options__list-desktop"><a href="#">Mis compras</a></span>
            <span class="options__list-desktop"><a href="#">Ayuda</a></span>
        </div>
    </div>
    <!--Item details section-->
    <div class="purchase-detail"> 
        <div class="detail-cart">
            <div class="section__article">
                <div class="box__movie">
                    <img src="/img/peliculas/Anabelle940x1392.jpg" alt="">
                </div>
                <div class="box__movie">
                    <span class="price">$250</span>
                    <br><br>
                    <span class="type-add" id="selection">Alquiler</span>
                </div>
                <div class="box__movie">
                    <h1 class="title-movie">Anabelle</h1>
                    <p>Doce años después de la muerte de su hija y aún tremendamente doloridos por su perdida, <b>ver
                            mas...</b>
                        <!-- un fabricante de muñecas y su mujer acogen en su casa a una monja y a seis niñas huérfanas. Allí, la muñeca Annabelle, poseída por un espíritu, ataca a las niñas huérfanas.-->
                    </p>
                </div>
            </div>
            <br>
            <div class="modify-selection">
                <button type="button" class="delete" id="delete-product">Eliminar</button>
                <button type="button" class="modify" id="modify-selection">Modificar seleccion</button>
            </div>
        </div>
        <!-- <div class="detail-cart">
            <div class="section__article">
                <div class="box__movie">
                    <img src="/img/peliculas/Anabelle940x1392.jpg" alt="">
                </div>
                <div class="box__movie">
                    <span class="price">$250</span>
                    <br><br>
                    <span class="type-add">Alquiler</span>
                </div>
                <div class="box__movie">
                    <h1 class="title-movie">Anabelle</h1>
                    <p>Doce años después de la muerte de su hija y aún tremendamente doloridos por su perdida, <b>ver
                        mas...</b> -->
                        <!-- un fabricante de muñecas y su mujer acogen en su casa a una monja y a seis niñas huérfanas. Allí, la muñeca Annabelle, poseída por un espíritu, ataca a las niñas huérfanas.-->
                    <!-- </p>
                </div>
            </div>
            <br>
            <div class="modify-selection">
                <button type="button" class="delete">Eliminar</button>
                <button type="button" class="modify">Modificar seleccion</button>
            </div>
        </div> -->
    </div>
    <!--total section to pay for purchase-->
    <div class="total-cart">
        <span class="price-total">Precio total: $500</span>
        <button type="button" class="keep-buying">Seguir comprando</button>
        <button type="button" class="to-pay">Pagar</button>
    </div>
    <!--Footer section-->
    <%- include('../partials/footer')  %>
</body>
</html>