<section class="main-menu">
    <div class="contain-menu">
        <article class="contain__options">
            <a href="../admin/movies"><h3 class="title__section">Pelicuas</h3></a>
            <a href="../admin/series"><h3 class="title__section">Series</h3></a>
            <a href="../admin/motionUsers"><h3 class="title__section">Usuarios</h3></a>
        </article>
    </div>
</section>