<header class="contain-header">
    <!-- Header mobile and tablet admin -->
    <div class="header-mobile">
        <nav class="nav-header">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-angle-right"></i>
                <i class="fas fa-bars"></i>
            </label>
            <ul class="flex-list">
                <li class="li__flex-items">
                    <a href="/admin/movies" class="ref-decoration"><i class="fas fa-film"></i></i><span>Peliculas</span></a>
                </li>
                <li class="li__flex-items">
                    <a href="/admin/series" class="ref-decoration"><i class="fas fa-tv"></i><span>Series</span></a>
                </li>
                <li class="li__flex-items">
                    <a href="/admin/motionUsers" class="ref-decoration"><i class="fas fa-users"></i><span>Usuarios</span></a>
                </li>
                <li class="li__flex-items">
                    <a href="admin/statistics" class="ref-decoration"><i class="fas fa-table"></i><span>Estadisticas</span></a>
                </li>
                <li class="li__flex-items">
                    <a href="/admin/form" class="ref-decoration"><i class="fas fa-clipboard-list"></i><span>Formulario de carga</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Header desktop -->
    <div class="header-desktop">
        <div class="img-logo">
            <a href="/"><img src="/img/Blanco.svg" alt=""></a>
            <div class="title__logo-span">
                <span>Slow</span>
                <br>
                <span>Motion</span>
            </div>
        </div>
        <div class="special-input">
            <form action="/admin/searching" method="GET" id="search">
                <input type="search" class="in" name="keywordsAdmin" placeholder="Buscador...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="icons-options">
            <div class="items__flex-icons"><a href="/admin/form"><i class="fas fa-clipboard-list"></i></a></div>
            <div class="items__flex-icons"><a href="/admin/motionUsers"><i class="fas fa-users"></i></a></div>
            <div class="items__flex-icons"><a href="/admin/statistics"><i class="fas fa-table"></i></a></div>
        </div>
    </div>
    <!-- <div class="nav-header-desktop">
        <nav class="menu-header">
            <ul class="flex-list-desktop">
                <li class="flex-item-desktop"><button><span>Peliculas</span></button></li>
                <li class="flex-item-desktop"><button><span>Series</span></button></li>
                <li class="flex-item-desktop"><button><span>usuarios</span></button></li>
                <li class="flex-item-desktop"><button><span>Estadisticas</span></button></li>
                <li class="flex-item-desktop"><button><span>bandeja de entrada</span></button></li>
            </ul>
        </nav>
    </div> -->
</header>