<div class="footer-container">
    <footer>
        <div class="container-logo-texto">
            <div class="logo">
                <a class="logA" href="/">
                    <img src="/img/Blanco.svg" alt="">
                </a>
            </div>
            <div class="texto-footer">
                <p>Bajo licencia del grupo 13 de la comisión 12, integrado por: Matias Diaz, Ivana Benitez, Angel
                    Montaña, Elías Galeano</p>
            </div>
        </div>
        <div class="links-footer">
            <div class="links-varios">
                <a href="">Acerca De</a>
                <a href="">Ayuda</a>
                <a href="">Contacto</a>
            </div>
            <div class="links-redes-sociales">
                <div class="link-logo">
                    <a href="">Facebook</a>
                    <img src="img/iconos/facebook-readonly.png" alt="Facebook logo">
                </div>
                <div class="link-logo">
                    <a href="">Twitter</a>
                    <img src="img/iconos/twitter-readonly.png" alt="Twitter logo">
                </div>
                <div class="link-logo">
                    <a href="">Instagram</a>
                    <img src="img/iconos/instagram-readonly.png" alt="Instagram logo">
                </div>
                <div class="link-logo">
                    <a href="">Youtube</a>
                    <img src="img/iconos/youtube-readonly.png" alt="Youtube logo">
                </div>
            </div>
        </div>
</div>
</footer>
</div>