<div class="conteinHeader">
    <header>
        <div class="logo">
            <a class="logA" href="/">
                <img src="/img/Blanco.svg" alt="">
                <p>SLOW MOTION</p>
            </a>
        </div>
        <div class="nav">
            <a href="/movies">Peliculas</a>
            <a href="/series">Series</a>
            <a href="/favoritos">Favoritos</a>
            <input class="in" type="text" placeholder="Buscar...">
        </div>
        <div class="optFoot">
            <div class="cart">
                <a href="/cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <div class="RegAndLog">
                <a href="/login">Ingresar</a>
                <a href="/register">Registrarse</a>
            </div>
            <nav class="menu">
                <i class="fas fa-align-justify"></i>
            </nav>
        </div>
    </header>
</div>