<!-- Logo -->
<div class="img">
    <a href="/admin"><img src="/img/Blanco.svg" alt="slow motion"></a>
    <div class="img-span">
        <span>Page-admin</span>
        <span>Slow motion</span>
    </div>
</div>