<!-- Search Mobile and tblet -->
<div class="special-inputMobile">
    <form action="/admin/searching" method="GET" id="search">
        <input type="search" class="in" name="keywordsAdmin" placeholder="Buscador...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>
<!-- Logo -->
<div class="img">
    <a href="/admin"><img src="/img/Blanco.svg" alt="slow motion"></a>
    <div class="img-span">
        <span>Page-admin</span>
        <span>Slow motion</span>
    </div>
</div>