.all-section-movie {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2em;
}

.statistic__movies {
    width: 83%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: var(--black);
    justify-content: space-evenly;
    margin: 1em auto 0;
    box-shadow: 1px 1px 8px 0 var(--black);
}

.table__statistic-movies {
    width: 90%;
    margin: 1em auto;
}

.table__statistic-movies .info__statistic-movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(45deg, #000, #232323);
}

.table__statistic-movies .info__statistic-movies .title__statistic-movies {
    display: block;
    color: var(--yellow);
    font-size: 1em;
    margin: 5% 0;
}

.table__statistic-movies .info__statistic-movies .dashboard-movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

.table__statistic-movies .info__statistic-movies .dashboard-movies .information {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table__statistic-movies .info__statistic-movies .dashboard-movies .information span {
    color: var(--yellow);
    padding: 2% 3%;
    font-family: var(--averia);
}

.statistic__movies:last-child {
    margin-bottom: .5em;
}

@media only screen and (min-width:768px) and (max-width:1024px){

    .all-section-movie {
        margin: 0 auto;
    }

    .table__statistic-movies {
        width: 95%;
        margin: 1em;
    }

    .table__statistic-movies .info__statistic-movies .title__statistic-movies {
        font-size: 1.5em;
    }

    .table__statistic-movies .info__statistic-movies .dashboard-movies {
        flex-direction: row;
        justify-content: flex-start;
    }

    .table__statistic-movies .info__statistic-movies .dashboard-movies .information {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        width: 44.7%;
    }
}

@media only screen and (min-width:1024px) {

    .all-section-products {
        display: flex;
        justify-content: space-evenly;
    }

    .all-section-movie {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 1em auto;
    }

    .statistic__movies {
        width: 100%;
        margin: .5em;
    }

    .statistic__movies:last-child {
        width: 100%;
        margin-bottom: .5em;
    }
    
    .table__statistic-movies .info__statistic-movies .dashboard-movies .information {
        margin: 0 1em;
    }

    .table__statistic-movies .info__statistic-movies .dashboard-movies .information span {
        width: 350px;
        padding: 1em;
    } 
}