.block-footer {
    width: 97.5%;
    display: block;
    background: transparent;
    box-shadow: none;
    padding: 0 0 1em;
}

.flex-copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10%;
}

.flex-copyright p {
    display: inline-block;
    font-size: 16px;
    color: var(--yellow);
    margin: 9px 7px;
    font-family: var(--averia);
}

.flex-copyright img {
    width: 30px;
    z-index: -1;
    filter: drop-shadow(2px 4px 6px #000);
}

@media only screen and (min-width:768px) and (max-width:1024px){

    .block-footer {
        width: 100%;
        padding: 1.4em 0;
        margin: 0;
    }

    .flex-copyright {
        padding: 0;
    }

}

@media only screen and (min-width:1024px) and (max-width:1440px){

    .block-footer {
        width: 100%;
        padding: 1.2em 0;
        margin: 0;
    }

    .flex-copyright {
        padding: 0;
        margin: 0 auto;
    }

    .flex-copyright p {
        padding: 0 1% 0 0;
    }

}