.contain-header {
    width: 1.2em;
    font-size: 28px;
    color: #fff;
    position: fixed;
}

.menu-header {
    display: none;
}

.database-desktop {
    display: none;
}

.products-desktop {
    display: none;
}

.header-mobile {
    width: 100%;
}

.nav-header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    position: relative;
    background: var(--black);
}

.nav-header .checkbtn {
    display: block;
    width: 100%;
    padding: 269px 10px;
    background: var(--black);
    z-index: 200;
}

.checkbtn .fa-bars {
    display: none;
}

.flex-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    background: var(--black);
    left: -100px;
    transition: all 1s;
    font-family: var(--averia);
}

.flex-list .li__flex-items {
    display: inline-block;
    width: 10em;
    margin: 0.5em 0 0.5em 2em;
    padding: 0.8em 0;
}

.flex-list .li__flex-items .ref-decoration {
    border-bottom: 1px solid var(--blue);
    color: var(--yellow);
    padding: 10px;
    text-decoration: none;
}

.ref-decoration:hover {
    background: #fff;
    color: var(--black) !important;
}

.flex-list .li__flex-items a i {
    padding: 0 10px;
    font-size: 30px;
}

.flex-list .li__flex-items a span {
    font-size: .8em;
}

#check {
    display: none;    
}

#check:checked ~ .flex-list {
    left: 320px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    .contain-header {
        width: 27.5em                                                         ;
        background: var(--black);
        padding: .2em 0 0;
    }

    .header-mobile {
        display: none;
    }

    .header-desktop {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        background: var(--black);
        border-end-end-radius: 25px;
        border-bottom-left-radius: 25px;
        align-content: center;
        justify-content: space-between;
    }

    .header-desktop .img-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        margin: auto 0 auto 2%;
    }

    .header-desktop .img-logo a img {
        display: inline-block;
        width: 85px;
    }

    .header-desktop .img-logo .title__logo-span {
        font-size: 25px;
        padding: 0 .1em;
        text-align: center;
    }

    .header-desktop .special-input {
        padding: .4em;
        margin: auto 0 auto 4%;;
    }

    .header-desktop .special-input form input {
        border: none;
        border-radius: 25px;
        font-size: 20px;
        padding: 0 5px;
        font-family: var(--averia);
    }

    .header-desktop .special-input form button {
        background: none;
        color: #fff;
        border: none;
        font-size: .8em;
    }

    .header-desktop .icons-options {
        margin: 0 3% 0 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-desktop .icons-options .items__flex-icons {
        padding: 0 7px;
    }

    .header-desktop .icons-options .items__flex-icons a i {
        color: var(--yellow);
    }

    .header-desktop .nav-header-desktop .menu-header {
        display: none;
    }

}

@media only screen and (min-width: 1024px) {
    .contain-header {
        width: 100%;
        background: var(--black);
        border-end-end-radius: 25px;
        border-bottom-left-radius: 25px;
        padding: .3 0 0;
    }

    .header-mobile {
        width: 0;
        height: 0;
        display: none;
    }

    .header-desktop {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
    }

    .header-desktop .img-logo {
        width: 10em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        margin: 1%;
    }

    .header-desktop .img-logo a img {
        display: inline-block;
        width: 85px;
        padding: 0 5px;
    }

    .header-desktop .img-logo .title__logo-span {
        width: 93px;
        height: 25px;
        display: inline-block;
        font-size: 25px;
        padding: 0 10px;
    }

    .header-desktop .special-input {
        width: 30%;
        padding: 0 0 0 2em;
        margin: auto 0;
    }

    .header-desktop .special-input form input {
        border: none;
        border-radius: 25px;
        font-size: 20px;
        padding: 0 5px;
        font-family: var(--averia);
    }

    .header-desktop .special-input form button {
        background: none;
        color: #fff;
        border: none;
        font-size: .8em;
    }

    .header-desktop .icons-options {
        width: 100px;
        margin: 0 85px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-desktop .icons-options .items__flex-icons {
        padding: 0 7px;
    }

    .header-desktop .icons-options .items__flex-icons a i {
        color: var(--yellow);
    }

    .header-desktop .nav-header-desktop .menu-header {
        display: none;
    }

}