.body-admin {
    background: linear-gradient(45deg, #000000, #2940D3);
    overflow-x: hidden;
    font-family: var(--averia);
}

.body-admin .special-inputMobile {
    width: 100%;
    padding: 1em 0 0 2.1em;
}

.body-admin .special-inputMobile form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.body-admin .special-inputMobile form input {
    position: absolute;
    background: var(--black);
    color: var(--yellow);
    border: none;
    border-radius: 25px;
    font-size: 20px;
    padding: .2em .6em;
    font-family: var(--averia);
}

.body-admin .special-inputMobile form button {
    background: transparent;
    border-radius: 1em;
    padding: 0.7em 0;
    color: #fff;
    border: none;
    font-size: .8em;
    position: relative;
    margin: 0 0 0 15em;
}

.body-admin .img {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em 0 0 2.1em;
    margin: 0 auto;
}

.img a {
    display: flex;
    width: 60%;
    height: 7em;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.img a img {
    display: inline-block;
    width: 65%;
    height: 65%;
    filter: drop-shadow(2px 4px 6px black);
    z-index: -1;
}

.img .img-span {
    display: flex;
    color: var(--yellow);
    margin: 0 auto 1em;
    font-family: var(--averia);
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.database { 
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 10%;
}

.database .products {
    width: 90%;
    border: none;
    background: linear-gradient(-45deg, #000, #232323);
    margin: 0 0 2em;
    border-radius: 2em;
}

.database .products a {
    display: inline-block;
    width: 100%;
    color: var(--yellow);
    text-align: center;
}

.database .products a i {
    font-size: 3em;
    padding: 10% 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .body-admin .special-inputMobile {
        display: none;
    }

    .body-admin .img {
        padding: 5em 0 0;
    }

    .body-admin .img a img {
        display: inline-block;
        margin: 3em auto;
        filter: drop-shadow(2px 4px 6px black);
        z-index: -1;
    }

    .database {
        padding-left: 0;
    }

    .database .products a i {
        padding: 6% 0;
    }

}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {

    .body-admin .special-inputMobile {
        display: none;
    }

    .body-admin .img {
        padding: 5em 0 0;
    }

    .body-admin .database {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 1em;
    }

    .body-admin .database .products {
        width: 45%;
        padding: 1em;
    }

}