<%- include('../partials/head') %>

<body class="body-admin">
    <!-- admin Header -->
    <%- include('../partials/adminHeader') %> 
    <%- include('../partials/logoMobileAdmin') %>
    
    <!-- Product home admin -->
    <section class="database">
        <div class="products">
            <a href="/admin/movies"><i class="fas fa-film"></i></a>
        </div>
        <div class="products">
            <a href="/admin/series"><i class="fas fa-tv"></i></a>
        </div>
        <div class="products">
            <a href="/admin/motionUsers"><i class="fas fa-users"></i></a>
        </div>
        <div class="products">
            <a href="/admin/ofert"><i class="fas fa-tag"></i></a>
        </div>
    </section>

    <!-- Admin footer -->
    <%- include('../partials/adminFooter') %>
</body>
</html>