<%- include('../partials/head') %>

<body class="body-admin">
    <!-- admin Header -->
    <%- include('../partials/adminHeader') %> 
    <!-- Logo -->
    <br>
    <div class="img">
        <img src="/img/Blanco.svg" alt="slow motion">
        <span>Page-admin</span>
        <span>Slow motion</span>
    </div>
    <!-- Product home admin -->
    <section class="database">
        <button class="products">
            <div class="section__database">
                <a href="#">
                    <div class="button-options">
                        <i class="fas fa-film"></i>
                        <span class="sections">Peliculas</span>
                    </div>
                </a>
            </div>
        </button>
        <button class="products">
            <div class="section__database">
                <a href="#">
                    <div class="button-options">
                        <i class="fas fa-tv"></i>
                        <span class="sections">Series</span>
                    </div>
                </a>
            </div>
        </button>
        <button class="products">
            <div class="section__database">
                <a href="#">
                    <div class="button-options">
                        <i class="fas fa-users"></i>
                        <span class="sections">Usuarios</span>
                    </div>
                </a>
            </div>
        </button>
        <button class="products">
            <div class="section__database">
                <a href="#">
                    <div class="button-options">
                        <i class="fas fa-tag"></i>
                        <span class="sections">Ofertas</span>
                    </div>
                </a>
            </div>
        </button>
    </section>

    <!-- Admin footer -->
    <%- include('../partials/adminFooter') %>
</body>
</html>