<%- include ('../partials/head')  %> 
<body class="body-admin">
    <!-- Header -->
    <%- include ('../partials/adminHeader') %>
    <!-- Logo -->
    <%- include ('../partials/logoMobileAdmin') %>
    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br>
    <!-- Footer -->
    <%- include ('../partials/adminFooter') %>
</body>
</html>