<%- include ('../partials/head')  %> 
    <body class="body-admin">
        <!-- Header -->
        <%- include ('../partials/adminHeader') %>
        <!-- Logo mobile and tablet -->
        <%- include ('../partials/logoMobileADmin') %>
        <br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br>
        <!-- Footer -->
        <%- include ('../partials/adminFooter') %>
    </body>
</html>