<%- include('../partials/head') %>
<body class="admin-form">
    <%- include ('../partials/adminHeader') %>
    <br>
    <div class="form__files-desktop">
        <br><br>
        <div class="form-caption">
            <br><br>
            <form action="" method="post" class="upload-files">
                <div class="contain__date">
                    <input type="text" name="Nombre" id="nombre" placeholder="Nombre" required class="input">
                </div>
                <div class="contain__date">
                    <textarea type="text" name="description" id="comentario" placeholder="Descripcion" required class="input"></textarea>
                </div>
                <div class="contain__date">
                    <label for="image">Cargar imagen de portada</label>
                    <input type="file" name="image" accept=".jpg" required class="input">
                </div>
                <div class="contain__date">
                    <label for="video">Cargar pelicula</label>
                    <input type="file" name="video" accept=".dvd" required class="input">
                </div>
                <div class="contain__date">
                    <label for="category">Genero:</label>
                    <select name="category" id="category" required class="input">
                        <option value="0">Seleccione</option>
                        <option value="1">Terror</option>
                        <option value="2">Suspenso</option>
                        <option value="3">Dibujo animados</option>
                        <option value="4">Accion</option>
                        <option value="5">Comedia</option>
                    </select>
                </div>
                <div class="contain__date">
                    <label for="idiom">Idioma</label>
                    <select name="idiom" id="idiom" required class="input">
                        <option value="0">Seleccione</option>
                        <option value="1">Español</option>
                        <option value="2">Ingles</option>
                        <option value="3">otro odioma</option>
                    </select>
                </div>
                <div class="contain__date">
                    <input type="number" name="price" id="price" placeholder="Indique su precio $$$" required class="input">
                </div>
                <div class="contain__date">
                    <input type="submit" value="Cargar" required class="input-enter">
                </div>
            </form>
        </div>
    </div>
    <div class="form__files">
        <div class="error">
            <p>
                Lo siento, solo es posible cargar archivos desde su ordenador
            </p>
        </div>
    </div>
    <%- include ('../partials/adminFooter') %>
</body>
</html>