<%- include('../partials/head') %>
<body class="body-admin">
    <%- include ('../partials/adminHeader') %>
    <div class="form__files-desktop">
        <div class="form-caption">
            <form action="" method="post" class="upload-files">
                <div class="contain-date">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="Nombre" id="nombre" required>
                </div>
                <div class="contain-date">
                    <label for="description">Descripcion:</label>
                    <textarea type="text" name="description" id="comentario" placeholder="Descripcion" required></textarea>
                </div>
                <div class="contain-date">
                    <label for="image">Cargar imagen de portada</label>
                    <input type="file" name="image" accept=".jpg" required>
                </div>
                <div class="contain-date">
                    <label for="video">Cargar video</label>
                    <input type="file" name="video" accept=".dvd" required>
                </div>
                <div class="contain-date">
                    <label for="category">Seleccione una categoria:</label>
                    <select name="category" id="category" required>
                        <option value="0">Seleccione</option>
                        <option value="1">Terror</option>
                        <option value="2">Suspenso</option>
                        <option value="3">Dibujo animados</option>
                        <option value="4">Accion</option>
                        <option value="5">Comedia</option>
                    </select>
                </div>
                <div class="contain-date">
                    <label for="idiom">Idioma</label>
                    <select name="idiom" id="idiom" required>
                        <option value="0">Seleccione</option>
                        <option value="1">Español</option>
                        <option value="2">Ingles</option>
                        <option value="3">otro odioma</option>
                    </select>
                </div>
                <div class="contain-date">
                    <label for="price">Indique su precio $:</label>
                    <input type="number" name="price" id="price" required>
                </div>
                <div class="contain-date">
                    <input type="submit" value="Cargar" required>
                </div>
            </form>
        </div>
    </div>
    <div class="form__files">
        <div class="error">
            <p>
                Lo siento, solo es posible cargar archivos desde su ordenador
            </p>
        </div>
    </div>
    <%- include ('../partials/adminFooter') %>
</body>
</html>